/* -----------------------------------------------------------
	font-face kanit
----------------------------------------------------------- */
@font-face {
  font-family: "Kanit Light";
  src: url("../fonts/Kanit-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Regular";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Medium";
  src: url("../fonts/Kanit-Medium.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Bold";
  src: url("../fonts/Kanit-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit ExtraBold";
  src: url("../fonts/Kanit-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.main-box-wrapper {
  width: fit-content;
  border-radius: 48px;
  border: 1px solid #dad4cd;
  background: #fff;
  padding: 16px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-box-wrapper .left-content {
  width: fit-content;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.main-box-wrapper .main-title {
  max-width: 530px;
  text-align: center;
  color: #9b461a;
  font-family: Kanit Bold;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 16px;
}
.main-box-wrapper .main-title .hightlight {
  color: #ff6d03;
}
.main-box-wrapper .description {
  color: #1a202c;
  font-family: Kanit Medium;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
.main-box-wrapper .box-icon {
  width: 279px;
  height: 279px;
  min-width: 279px;
  flex-shrink: 0;
}
.main-box-wrapper .box-icon .icon-bitu-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.main-box-wrapper .right-content {
  width: fit-content;
  margin-left: 50px;
}
.main-box-wrapper .right-content .login-form-wrapper {
  min-width: 500px;
  max-width: 500px;
  height: auto;
  position: relative;
  top: -20px;
}
.main-box-wrapper .right-content .form-content-wrapper {
  padding: 50px 38px 18px 38px;
  position: relative;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form {
  width: 100%;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper {
  width: 100%;
  border-radius: 1000px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 6px;
  position: relative;
  margin-bottom: 16px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-icon {
  min-width: 42px;
  max-width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .prefix-phone-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-right: 1px solid #a0aec0;
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-height: 28px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .prefix-phone-wrapper span {
  margin-right: 2px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-input {
  flex-grow: 1;
  border: none;
  position: relative;
  padding: 0px 16px;
  color: #1a202c;
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-input::placeholder {
  color: #a0aec0;
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-input:focus {
  outline: none;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .icon-toggle-password {
  position: absolute;
  top: 12px;
  right: 16px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-control-wrapper .btn-forgot-password {
  color: var(--ff-6-d-03, #ff6d03);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper {
  margin: 16px 0px;
  width: 100%;
  border-radius: 24px;
  background: #f8e7cf;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.13) inset, 0px -1.5px 0px 0px rgba(255, 255, 255, 0.8) inset;
  padding: 13px 0px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .block-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin-bottom: 12px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .list-icon-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .list-icon-login .icon-login-item {
  margin-right: 20px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .list-icon-login .icon-login-item:last-of-type {
  margin-right: 0;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .list-icon-login .icon-login-item a img {
  display: block;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .btn-login {
  color: #fff;
  background-color: var(--ff-6-d-03, #ff6d03);
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .btn-create-account {
  display: block;
  margin: auto;
  color: var(--gray-900, #1a202c);
  background: var(--ffb-700, #ffb700);
}

.sign-in-page-wrapper .common-badge-wrapper {
  right: 140px;
  z-index: 9999;
  top: -30px;
}

.step2-content-wrapper {
  min-width: 1120px;
  max-width: 1120px;
  height: auto;
}
.step2-content-wrapper .step2-content-detail {
  padding: 50px 0px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.step2-content-wrapper .common-form-wrapper::before {
  background-image: url("../images/mask-background-2.png");
}
.step2-content-wrapper .choose-profile-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.step2-content-wrapper .list-profile-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 124px 0px 90px;
}
.step2-content-wrapper .list-profile-wrapper .list-profile {
  display: flex;
  margin-right: 32px;
}
.step2-content-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 32px;
}
.step2-content-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper:first-child .profile-item-avatar {
  background: var(--2971-f-0, #2971f0);
}
.step2-content-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper:nth-child(2) .profile-item-avatar {
  background: var(--2971-f-0, #ff6d03);
}
.step2-content-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper:nth-child(3) {
  margin-right: 0;
}
.step2-content-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper:nth-child(3) .profile-item-avatar {
  background: var(--2971-f-0, #ffb700);
}
.step2-content-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper .profile-item-avatar {
  width: 158px;
  height: 158px;
  flex-shrink: 0;
  border-radius: 24px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.step2-content-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper .profile-item-name {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.step2-content-wrapper .list-profile-wrapper .btn-add-profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step2-content-wrapper .list-profile-wrapper .btn-add-profile-wrapper .btn-add-profile {
  cursor: pointer;
  background-color: transparent;
  width: fit-content;
  border-radius: 50%;
  margin-bottom: 8px;
  border: none;
}
.step2-content-wrapper .list-profile-wrapper .btn-add-profile-wrapper .btn-add-profile img {
  min-width: 52px;
  max-width: 52px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.step2-content-wrapper .list-profile-wrapper .btn-add-profile-wrapper .label {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.step2-content-wrapper .btn-for-parent {
  color: var(--2971-f-0, #2971f0);
  font-family: Kanit Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.login-step3-block-wrapper .common-badge-wrapper {
  right: calc((100% - 250px) / 2);
}
.login-step3-block-wrapper .step3-content-detail {
  padding: 50px 0px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-step3-block-wrapper .top-block-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-step3-block-wrapper .top-block-wrapper .logo-wrapper {
  min-width: max-content;
  border-radius: 48px;
  border: 1px solid #dad4cd;
  background: #fff;
  padding: 10px 18px;
}
.login-step3-block-wrapper .top-block-wrapper .logo-wrapper .icon-logo-1 {
  min-width: 124.528px;
  height: 44px;
  flex-shrink: 0;
  object-fit: cover;
}
.login-step3-block-wrapper .top-block-wrapper .logo-wrapper .icon-logo-2 {
  min-width: 157.885px;
  height: 44px;
  flex-shrink: 0;
  object-fit: cover;
}
.login-step3-block-wrapper .top-block-wrapper .arrow-wrapper {
  margin: 0px 24px;
}
.login-step3-block-wrapper .description {
  margin: 24px 0px 0px;
  max-width: 770px;
  text-align: center;
  color: var(--gray-900, #1a202c);
  text-align: center;
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.login-step3-block-wrapper .btn-covert-account {
  color: #fff;
  background: var(--ff-6-d-03, #ff6d03);
  min-width: 196px;
  text-align: center;
}
.login-step3-block-wrapper .note {
  max-width: 750px;
  color: #957d5b;
  text-align: center;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 16px;
  background: #f1e0c9;
  margin: 24px 0px 48px;
  padding: 13px 26px 14px 18px;
}
.login-step3-block-wrapper .btn-cancel {
  margin-top: 32px;
  color: var(--gray-900, #1A202C);
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

/*# sourceMappingURL=authen.css.map */
