/* -----------------------------------------------------------
	font-face kanit
----------------------------------------------------------- */
@font-face {
  font-family: "Kanit Light";
  src: url("../fonts/Kanit-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Regular";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Medium";
  src: url("../fonts/Kanit-Medium.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Bold";
  src: url("../fonts/Kanit-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit ExtraBold";
  src: url("../fonts/Kanit-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.main-box-wrapper {
  width: fit-content;
  border-radius: 48px;
  border: 1px solid #dad4cd;
  background: #fff;
  padding: 16px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper {
    border-radius: 32px;
  }
}
.main-box-wrapper .left-content {
  width: fit-content;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.main-box-wrapper .main-title {
  max-width: 530px;
  text-align: center;
  color: #9b461a;
  font-family: Kanit Bold;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .main-title {
    max-width: 400px;
    font-size: 32px;
    line-height: 44px;
  }
}
.main-box-wrapper .main-title .hightlight {
  color: #ff6d03;
}
.main-box-wrapper .description {
  color: #1a202c;
  font-family: Kanit Medium;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .description {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.main-box-wrapper .box-icon {
  width: 279px;
  height: 279px;
  min-width: 279px;
  flex-shrink: 0;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .box-icon {
    width: 254px;
    height: 254px;
    flex-shrink: 0;
  }
}
.main-box-wrapper .box-icon .icon-bitu-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.main-box-wrapper .right-content {
  width: fit-content;
  margin-left: 50px;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .right-content {
    margin-left: 24px;
  }
}
.main-box-wrapper .right-content .login-form-wrapper {
  min-width: 500px;
  max-width: 500px;
  height: auto;
  position: relative;
  top: -20px;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .right-content .login-form-wrapper {
    min-width: 430px;
    max-width: 430px;
    top: 0;
  }
}
.main-box-wrapper .right-content .form-content-wrapper {
  padding: 50px 38px 18px 38px;
  position: relative;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .right-content .form-content-wrapper {
    padding: 45px 32px 16px 32px;
  }
}
.main-box-wrapper .right-content .form-content-wrapper .login-form {
  width: 100%;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper {
  width: 100%;
  border-radius: 1000px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 6px;
  position: relative;
  margin-bottom: 16px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-icon {
  min-width: 42px;
  max-width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-icon {
    min-width: 36px;
    max-width: 36px;
    height: 36px;
  }
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .prefix-phone-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-right: 1px solid #a0aec0;
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-height: 28px;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .prefix-phone-wrapper {
    font-size: 18px;
    max-height: 24px;
    padding: 0px 16px 0px 12px;
  }
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .prefix-phone-wrapper span {
  margin-right: 2px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .input-wrapper {
  flex-grow: 1;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-input {
  border: none;
  width: 100%;
  position: relative;
  padding: 0px 16px;
  color: #1a202c;
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-input::placeholder {
  color: #a0aec0;
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-input:focus {
  outline: none;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .form-input[type=password] {
  padding-right: 40px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-item-wrapper .icon-toggle-password {
  position: absolute;
  top: 12px;
  right: 16px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .form-control-wrapper .btn-forgot-password {
  color: var(--ff-6-d-03, #ff6d03);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .right-content .form-content-wrapper .login-form .form-control-wrapper .btn-forgot-password {
    font-size: 18px;
  }
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper {
  margin: 16px 0px;
  width: 100%;
  border-radius: 24px;
  background: #f8e7cf;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.13) inset, 0px -1.5px 0px 0px rgba(255, 255, 255, 0.8) inset;
  padding: 13px 0px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1599px) {
  .main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper {
    padding: 16px 0px;
  }
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .block-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin-bottom: 12px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .list-icon-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .list-icon-login .icon-login-item {
  margin-right: 20px;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .list-icon-login .icon-login-item:last-of-type {
  margin-right: 0;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .login-with-wrapper .list-icon-login .icon-login-item a img {
  display: block;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .btn-login {
  color: #fff;
  background-color: var(--ff-6-d-03, #ff6d03);
}
.main-box-wrapper .right-content .form-content-wrapper .login-form .btn-create-account {
  display: block;
  margin: auto;
  color: var(--gray-900, #1a202c);
  background: var(--ffb-700, #ffb700);
}

.sign-in-page-wrapper .common-badge-wrapper {
  right: 140px;
  z-index: 9999;
  top: -30px;
}

.common-content-detail-wrapper {
  min-width: 1120px;
  max-width: 1120px;
  height: auto;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper {
    min-width: 864px;
    max-width: 864px;
  }
}
.common-content-detail-wrapper .step2-content-detail {
  padding: 50px 0px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .step2-content-detail {
    padding: 45px 0px 24px;
  }
}
.common-content-detail-wrapper .common-form-wrapper::before {
  background-image: url("../images/mask-background-2.png");
}
.common-content-detail-wrapper .choose-profile-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .choose-profile-title {
    font-size: 24px;
  }
}
.common-content-detail-wrapper .list-profile-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 124px 0px 90px;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .list-profile-wrapper {
    margin: 24px 0px 32px;
    flex-direction: column;
  }
}
.common-content-detail-wrapper .list-profile-wrapper .list-profile {
  display: flex;
  margin-right: 32px;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .list-profile-wrapper .list-profile {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.common-content-detail-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 32px;
}
.common-content-detail-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper:first-child .profile-item-avatar {
  background: var(--2971-f-0, #2971f0);
}
.common-content-detail-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper:nth-child(2) .profile-item-avatar {
  background: var(--2971-f-0, #ff6d03);
}
.common-content-detail-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper:nth-child(3) {
  margin-right: 0;
}
.common-content-detail-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper:nth-child(3) .profile-item-avatar {
  background: var(--2971-f-0, #ffb700);
}
.common-content-detail-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper .profile-item-avatar {
  width: 158px;
  height: 158px;
  flex-shrink: 0;
  border-radius: 24px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper .profile-item-avatar {
    width: 124px;
    height: 124px;
    margin-bottom: 12px;
  }
}
.common-content-detail-wrapper .list-profile-wrapper .list-profile .profile-item-wrapper .profile-item-name {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.common-content-detail-wrapper .list-profile-wrapper .btn-add-profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .list-profile-wrapper .btn-add-profile-wrapper {
    flex-direction: row;
  }
}
.common-content-detail-wrapper .list-profile-wrapper .btn-add-profile-wrapper .btn-add-profile {
  cursor: pointer;
  background-color: transparent;
  width: fit-content;
  border-radius: 50%;
  margin-bottom: 8px;
  border: none;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .list-profile-wrapper .btn-add-profile-wrapper .btn-add-profile {
    margin-bottom: 0;
  }
}
.common-content-detail-wrapper .list-profile-wrapper .btn-add-profile-wrapper .btn-add-profile img {
  min-width: 52px;
  max-width: 52px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .list-profile-wrapper .btn-add-profile-wrapper .btn-add-profile img {
    min-width: 48px;
    max-width: 48px;
    margin-right: 12px;
  }
}
.common-content-detail-wrapper .list-profile-wrapper .btn-add-profile-wrapper .label {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .list-profile-wrapper .btn-add-profile-wrapper .label {
    font-size: 16px;
  }
}
.common-content-detail-wrapper .btn-for-parent {
  color: var(--2971-f-0, #2971f0);
  font-family: Kanit Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
@media only screen and (max-width: 1599px) {
  .common-content-detail-wrapper .btn-for-parent {
    font-size: 16px;
  }
}

.login-step3-block-wrapper .common-badge-wrapper {
  right: calc((100% - 250px) / 2);
}
@media only screen and (max-width: 1599px) {
  .login-step3-block-wrapper .common-badge-wrapper {
    right: calc((100% - 223px) / 2);
  }
}
.login-step3-block-wrapper .step3-content-detail {
  padding: 50px 0px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1599px) {
  .login-step3-block-wrapper .step3-content-detail {
    padding: 48px 0px 24px;
  }
}
.login-step3-block-wrapper .top-block-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-step3-block-wrapper .top-block-wrapper .logo-wrapper {
  min-width: max-content;
  border-radius: 48px;
  border: 1px solid #dad4cd;
  background: #fff;
  padding: 10px 18px;
}
.login-step3-block-wrapper .top-block-wrapper .logo-wrapper .icon-logo-1 {
  min-width: 124.528px;
  height: 44px;
  flex-shrink: 0;
  object-fit: cover;
}
@media only screen and (max-width: 1599px) {
  .login-step3-block-wrapper .top-block-wrapper .logo-wrapper .icon-logo-1 {
    min-width: 95px;
    height: 34px;
    flex-shrink: 0;
  }
}
.login-step3-block-wrapper .top-block-wrapper .logo-wrapper .icon-logo-2 {
  min-width: 157.885px;
  height: 44px;
  flex-shrink: 0;
  object-fit: cover;
}
@media only screen and (max-width: 1599px) {
  .login-step3-block-wrapper .top-block-wrapper .logo-wrapper .icon-logo-2 {
    min-width: 118px;
    height: 32.884px;
    flex-shrink: 0;
  }
}
.login-step3-block-wrapper .top-block-wrapper .arrow-wrapper {
  margin: 0px 24px;
}
@media only screen and (max-width: 1599px) {
  .login-step3-block-wrapper .top-block-wrapper .arrow-wrapper {
    margin: 0px 16px;
  }
}
.login-step3-block-wrapper .description {
  margin: 24px 0px 0px;
  max-width: 770px;
  text-align: center;
  color: var(--gray-900, #1a202c);
  text-align: center;
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .login-step3-block-wrapper .description {
    color: var(--gray-900, #1a202c);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 580px;
    margin: 16px 0px 0px;
  }
}
.login-step3-block-wrapper .btn-covert-account {
  color: #fff;
  background: var(--ff-6-d-03, #ff6d03);
  min-width: 196px;
  text-align: center;
}
@media only screen and (max-width: 1599px) {
  .login-step3-block-wrapper .btn-covert-account {
    min-width: 143px;
  }
}
.login-step3-block-wrapper .note {
  max-width: 750px;
  color: #957d5b;
  text-align: center;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 16px;
  background: #f1e0c9;
  margin: 24px 0px 48px;
  padding: 13px 26px 14px 18px;
}
@media only screen and (max-width: 1599px) {
  .login-step3-block-wrapper .note {
    max-width: 725px;
    margin: 16px 0px 16px;
    padding: 14px 22px;
  }
}
.login-step3-block-wrapper .btn-cancel {
  margin-top: 32px;
  color: var(--gray-900, #1a202c);
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
@media only screen and (max-width: 1599px) {
  .login-step3-block-wrapper .btn-cancel {
    color: var(--gray-900, #1a202c);
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 16px;
  }
}

.signup-step2-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-step2-content-wrapper .description {
  color: var(--gray-900, #1a202c);
  text-align: center;
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  min-width: max-content;
  margin: 20px 0px 30px;
}
@media only screen and (max-width: 1599px) {
  .signup-step2-content-wrapper .description {
    font-size: 16px;
    max-width: unset;
    min-width: max-content;
    margin: 12px 0px 24px;
  }
}
.signup-step2-content-wrapper .list-number {
  display: flex;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1599px) {
  .signup-step2-content-wrapper .list-number {
    margin-bottom: 24px;
  }
}
.signup-step2-content-wrapper .list-number .number-item {
  margin-right: 16px;
}
.signup-step2-content-wrapper .list-number .number-item:last-child {
  margin-right: 0;
}
.signup-step2-content-wrapper .list-number .otp-input-item {
  border-radius: 66px;
  outline: none;
  border: 2px solid #dad4cd;
  background: #fff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-900, #1a202c);
  text-align: center;
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.signup-step2-content-wrapper .list-number .otp-input-item:focus {
  outline: none;
}
.signup-step2-content-wrapper .list-number .active {
  border: 2px solid #2971f0;
  caret-color: #2971f0;
}
.signup-step2-content-wrapper .resend-otp-text {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .signup-step2-content-wrapper .resend-otp-text {
    font-size: 16px;
  }
}
.signup-step2-content-wrapper .resend-otp-text .timer {
  color: #2971f0;
}
.signup-step2-content-wrapper .arrow {
  margin-left: 6px;
}

.signup-step3-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-step3-content-wrapper .main-content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 24px;
}
@media only screen and (max-width: 1599px) {
  .signup-step3-content-wrapper .main-content-wrapper {
    margin-top: 16px;
  }
}
.signup-step3-content-wrapper .main-content-wrapper .left-content {
  width: fit-content;
  padding-top: 0;
}
.signup-step3-content-wrapper .main-content-wrapper .left-content .avatar-block-wrapper {
  min-width: 196px;
  max-width: 196px;
  height: 196px;
  border-radius: 50%;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
@media only screen and (max-width: 1599px) {
  .signup-step3-content-wrapper .main-content-wrapper .left-content .avatar-block-wrapper {
    min-width: 132px;
    max-width: 132px;
    height: 132px;
  }
}
.signup-step3-content-wrapper .main-content-wrapper .left-content .avatar-block-wrapper .main-avatar-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}
.signup-step3-content-wrapper .main-content-wrapper .left-content .avatar-block-wrapper .main-avatar-layout .avatar-image {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  top: -20%;
}
.signup-step3-content-wrapper .main-content-wrapper .left-content .avatar-block-wrapper .mask-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 3;
  overflow: hidden;
}
.signup-step3-content-wrapper .main-content-wrapper .left-content .avatar-block-wrapper .mask-layout .circle-mask {
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-step3-content-wrapper .main-content-wrapper .right-content {
  min-width: 565px;
  max-width: 565px;
}
@media only screen and (max-width: 1599px) {
  .signup-step3-content-wrapper .main-content-wrapper .right-content {
    min-width: 450px;
    max-width: 450px;
  }
}
.signup-step3-content-wrapper .main-content-wrapper .right-content .input-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.signup-step3-content-wrapper .main-content-wrapper .right-content .input-item-wrapper:last-of-type {
  margin-bottom: 0;
}
@media only screen and (max-width: 1599px) {
  .signup-step3-content-wrapper .main-content-wrapper .right-content .input-item-wrapper {
    margin-bottom: 16px;
  }
}
.signup-step3-content-wrapper .main-content-wrapper .right-content .input-item-wrapper .label {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .signup-step3-content-wrapper .main-content-wrapper .right-content .input-item-wrapper .label {
    font-size: 16px;
  }
}
.signup-step3-content-wrapper .main-content-wrapper .right-content .input-item-wrapper .input-item {
  color: #1a202c;
  min-width: 425px;
  max-width: 425px;
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 1000px;
  padding: 13px 24px;
  border: 1px solid #dad4cd;
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
}
.signup-step3-content-wrapper .main-content-wrapper .right-content .input-item-wrapper .input-item:focus {
  outline: none;
}
.signup-step3-content-wrapper .main-content-wrapper .right-content .input-item-wrapper .input-item::placeholder {
  color: var(--gray-500, #a0aec0);
}
@media only screen and (max-width: 1599px) {
  .signup-step3-content-wrapper .main-content-wrapper .right-content .input-item-wrapper .input-item {
    min-width: 333px;
    max-width: 333px;
    font-size: 16px;
  }
}
.signup-step3-content-wrapper .footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  left: -60px;
  margin-top: 64px;
}
@media only screen and (max-width: 1599px) {
  .signup-step3-content-wrapper .footer-content {
    margin-top: 10px;
  }
}
.signup-step3-content-wrapper .footer-content .icon-bitu-signup {
  min-width: 139px;
  max-width: 139px;
  object-fit: cover;
  height: 173.519px;
  flex-shrink: 0;
}
@media only screen and (max-width: 1599px) {
  .signup-step3-content-wrapper .footer-content .icon-bitu-signup {
    min-width: 92px;
    height: 114.848px;
    flex-shrink: 0;
  }
}
.signup-step3-content-wrapper .footer-content .message-detail-wrapper {
  max-width: 395px;
  width: 395px;
  height: auto;
  margin-left: 24px;
  border-radius: 12px;
  position: relative;
}
.signup-step3-content-wrapper .footer-content .message-detail-wrapper .text-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  height: 100%;
  border-radius: 12px;
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #91acd9;
  position: relative;
  z-index: 9;
  background-color: #dce6f7;
}
@media only screen and (max-width: 1599px) {
  .signup-step3-content-wrapper .footer-content .message-detail-wrapper .text-detail {
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 10px;
  }
}
.signup-step3-content-wrapper .footer-content .message-detail-wrapper .arrow {
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #91acd9;
  background-color: #dce6f7;
  transform: rotate(45deg);
  position: absolute;
  top: calc((100% - 22px) / 2);
  left: -11px;
  border-right: none;
  border-top: none;
  z-index: 10;
}

.signup-step4-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.signup-step4-content-wrapper .mask-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 260px;
  z-index: 2;
  background-image: url("../images/mask-background-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media only screen and (max-width: 1599px) {
  .signup-step4-content-wrapper .mask-background {
    height: 184px;
  }
}
.signup-step4-content-wrapper .content-layout-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 55px;
}
@media only screen and (max-width: 1599px) {
  .signup-step4-content-wrapper .content-layout-wrapper {
    padding-bottom: 32px;
  }
}
.signup-step4-content-wrapper .content-layout-wrapper .top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-step4-content-wrapper .content-layout-wrapper .top-content .avatar-item {
  min-width: 158px;
  max-width: 158px;
  height: 158px;
  border-radius: 100px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1599px) {
  .signup-step4-content-wrapper .content-layout-wrapper .top-content .avatar-item {
    min-width: 132px;
    max-width: 132px;
    height: 132px;
    margin-bottom: 24px;
    border-radius: 100px;
    border: 1px solid #dad4cd;
    background: #fff;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  }
}
.signup-step4-content-wrapper .content-layout-wrapper .top-content .avatar-item .avatar-image {
  min-width: 132px;
  max-width: 132px;
  height: 132px;
  object-fit: cover;
}
@media only screen and (max-width: 1599px) {
  .signup-step4-content-wrapper .content-layout-wrapper .top-content .avatar-item .avatar-image {
    min-width: 110px;
    max-width: 110px;
    height: 110px;
  }
}
.signup-step4-content-wrapper .content-layout-wrapper .top-content .description {
  color: var(--gray-900, #1a202c);
  text-align: center;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 16px;
}
@media only screen and (max-width: 1599px) {
  .signup-step4-content-wrapper .content-layout-wrapper .top-content .description {
    font-size: 16px;
  }
}
.signup-step4-content-wrapper .content-layout-wrapper .top-content .btn-get-started {
  min-width: 195px;
}
@media only screen and (max-width: 1599px) {
  .signup-step4-content-wrapper .content-layout-wrapper .top-content .btn-get-started {
    min-width: 150px;
  }
}
.signup-step4-content-wrapper .content-layout-wrapper .btn-for-parent {
  color: var(--2971-f-0, #2971f0);
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
@media only screen and (max-width: 1599px) {
  .signup-step4-content-wrapper .content-layout-wrapper .btn-for-parent {
    font-size: 16px;
  }
}

/*# sourceMappingURL=authen.css.map */
