/* -----------------------------------------------------------
	font-face kanit
----------------------------------------------------------- */
@font-face {
  font-family: "Kanit Light";
  src: url("../fonts/Kanit-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Regular";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Medium";
  src: url("../fonts/Kanit-Medium.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Bold";
  src: url("../fonts/Kanit-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit ExtraBold";
  src: url("../fonts/Kanit-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
h6, br, hr {
  margin: 0;
  padding: 0;
}

body {
  font-family: Kanit Regular;
  color: #1a202c;
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.list-style-none {
  list-style: none !important;
}

ul, ol {
  list-style-type: none;
}

.text-primary {
  color: #ff6d03 !important;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.w-100 {
  width: 100%;
}

.background-common {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  background-color: #F2ECE4;
  position: relative;
}
.background-common::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/cloud-background-image.png");
  background-size: contain;
  background-position: top left;
  background-repeat: repeat;
  content: "";
  z-index: 1;
}
.background-common::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bottom-background-image.png");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  content: "";
  z-index: 2;
}
.background-common .page-content-wrapper-common {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.header-logo {
  position: fixed;
  top: 24px;
  left: 40px;
  text-decoration: none;
}
.header-logo .header-logo-image {
  width: 157.885px;
  height: 44px;
  flex-shrink: 0;
  object-fit: cover;
}

.main-page-content {
  margin-top: 140px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1599px) {
  .main-page-content {
    margin-top: 85px;
  }
}

.common-badge-wrapper {
  min-width: 259px;
  width: 259px;
  height: 69px;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 1599px) {
  .common-badge-wrapper {
    min-width: 223px;
    width: 223px;
    height: 56px;
  }
}
.common-badge-wrapper .back-background {
  width: 100%;
  height: 30px;
  background-color: #9E4300;
  border-top: none;
  border-left: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.common-badge-wrapper .front-background {
  width: 100%;
  height: 100%;
  background-image: url("../images/front-badge-image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #FFF;
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  position: absolute;
}
@media only screen and (max-width: 1599px) {
  .common-badge-wrapper .front-background {
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }
}
.common-badge-wrapper .front-background .text-label {
  position: relative;
  top: -8px;
}
@media only screen and (max-width: 1599px) {
  .common-badge-wrapper .front-background .text-label {
    top: -4px;
  }
}

.common-form-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  border: 1px solid #E4D3BC;
  background: #FFF1DE;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.06);
  position: relative;
}
@media only screen and (max-width: 1599px) {
  .common-form-wrapper {
    border-radius: 24px;
    border: 1px solid #E4D3BC;
    background: #FFF1DE;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.06);
  }
}
.common-form-wrapper::before {
  width: 100%;
  height: 80px;
  content: "";
  background-image: url("../images/mask-background-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 1599px) {
  .common-form-wrapper::before {
    height: 48px;
    background-image: url("../images/mask-background-3.png");
  }
}
.common-form-wrapper .form-content-wrapper {
  width: 100%;
  min-height: max-content;
  position: relative;
  z-index: 9999;
}

.common-btn {
  min-width: max-content;
  max-width: max-content;
  padding: 8px 32px;
  border-radius: 1000px;
  cursor: pointer;
  border: 1.5px solid #953F00;
  background: var(--ff-6-d-03, #FF6D03);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15), 0px 3px 0px 0px #FF8B03 inset, 0px -3px 0px 0px #FF8B03 inset;
  color: #FFF;
  font-family: Kanit Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}
.common-btn:focus {
  outline: none;
}
@media only screen and (max-width: 1599px) {
  .common-btn {
    font-size: 20px;
    padding: 9px 40px;
  }
}
.common-btn .icon-btn-1 {
  position: absolute;
  top: 5px;
  right: 6px;
  min-width: 7.341px;
  height: 17.171px;
  transform: rotate(20deg);
}
.common-btn .icon-btn-2 {
  position: absolute;
  left: 8px;
  bottom: 4px;
  min-width: 10.703px;
  height: 11.56px;
  transform: rotate(10deg);
  flex-shrink: 0;
}

/*# sourceMappingURL=common.css.map */
