/* -----------------------------------------------------------
	font-face kanit
----------------------------------------------------------- */
@font-face {
  font-family: "Kanit Light";
  src: url("../fonts/Kanit-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Regular";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Medium";
  src: url("../fonts/Kanit-Medium.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Bold";
  src: url("../fonts/Kanit-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit ExtraBold";
  src: url("../fonts/Kanit-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
h6,
br,
hr {
  margin: 0;
  padding: 0;
}

body {
  font-family: Kanit Regular;
  color: #1a202c;
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.list-style-none {
  list-style: none !important;
}

ul,
ol {
  list-style-type: none;
}

.text-primary {
  color: #ff6d03 !important;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.w-100 {
  width: 100%;
}

.background-common {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  background-color: #f2ece4;
  position: relative;
}
.background-common::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/cloud-background-image.png");
  background-size: contain;
  background-position: top left;
  background-repeat: repeat;
  content: "";
  z-index: 1;
}
.background-common::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bottom-background-image.png");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  content: "";
  z-index: 2;
}
.background-common .page-content-wrapper-common {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}
@media (min-width: 1900px) {
  .background-common .page-content-wrapper-common {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header-logo {
  position: fixed;
  top: 24px;
  left: 40px;
  text-decoration: none;
}
.header-logo .header-logo-image {
  width: 157.885px;
  height: 44px;
  flex-shrink: 0;
  object-fit: cover;
}

.main-page-content {
  margin-top: 140px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1599px) {
  .main-page-content {
    margin-top: 85px;
  }
}
@media (min-width: 1900px) {
  .main-page-content {
    margin-top: 0;
  }
}

.common-badge-wrapper {
  min-width: 259px;
  width: 259px;
  height: 69px;
  flex-shrink: 0;
  position: absolute;
  top: -30px;
  right: calc((100% - 250px) / 2);
}
@media only screen and (max-width: 1599px) {
  .common-badge-wrapper {
    min-width: 223px;
    width: 223px;
    height: 56px;
    right: calc((100% - 223px) / 2);
  }
}
.common-badge-wrapper .back-background {
  width: 100%;
  height: 30px;
  background-color: #9e4300;
  border-top: none;
  border-left: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.common-badge-wrapper .front-background {
  width: 100%;
  height: 100%;
  background-image: url("../images/front-badge-image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  position: absolute;
}
@media only screen and (max-width: 1599px) {
  .common-badge-wrapper .front-background {
    color: #fff;
    text-align: center;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }
}
.common-badge-wrapper .front-background .text-label {
  position: relative;
  top: -8px;
}
@media only screen and (max-width: 1599px) {
  .common-badge-wrapper .front-background .text-label {
    top: -4px;
  }
}

.common-form-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  border: 1px solid #e4d3bc;
  background: #fff1de;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.06);
  position: relative;
}
@media only screen and (max-width: 1599px) {
  .common-form-wrapper {
    border-radius: 24px;
    border: 1px solid #e4d3bc;
    background: #fff1de;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.06);
  }
}
.common-form-wrapper::before {
  width: 100%;
  height: 80px;
  content: "";
  background-image: url("../images/mask-background-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 1599px) {
  .common-form-wrapper::before {
    background-image: url("../images/mask-background-3.png");
  }
}
.common-form-wrapper .form-content-wrapper {
  width: 100%;
  min-height: max-content;
  position: relative;
  z-index: 9999;
}

.common-btn {
  min-width: max-content;
  max-width: max-content;
  padding: 8px 32px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1.5px solid #953f00;
  background: var(--ff-6-d-03, #ff6d03);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15), 0px 3px 0px 0px #ff8b03 inset, 0px -3px 0px 0px #ff8b03 inset;
  color: #fff;
  font-family: Kanit Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}
.common-btn:focus {
  outline: none;
}
@media only screen and (max-width: 1599px) {
  .common-btn {
    font-size: 20px;
    padding: 9px 40px;
  }
}
.common-btn .icon-btn-1 {
  position: absolute;
  top: 5px;
  right: 6px;
  min-width: 7.341px;
  height: 17.171px;
  transform: rotate(20deg);
}
.common-btn .icon-btn-2 {
  position: absolute;
  left: 8px;
  bottom: 4px;
  min-width: 10.703px;
  height: 11.56px;
  transform: rotate(10deg);
  flex-shrink: 0;
}

.common-signup-step-block-wrapper {
  width: 100%;
  height: 600px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 1599px) {
  .common-signup-step-block-wrapper {
    height: 430px;
    padding-top: 46px;
  }
}

.common-signup-step-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .common-signup-step-title {
    font-size: 24px;
  }
}

.common-signup-step-input-wrapper {
  display: flex;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  padding: 7px;
  padding-right: 16px;
  min-width: 424px;
}
.common-signup-step-input-wrapper .icon-signup-step {
  min-width: 42px;
  max-width: 42px;
  height: 42px;
  border-radius: 50%;
}
@media only screen and (max-width: 1599px) {
  .common-signup-step-input-wrapper .icon-signup-step {
    min-width: 36px;
    max-width: 36px;
    height: 36px;
  }
}
.common-signup-step-input-wrapper .input-signup-step {
  flex-grow: 1;
  border: none;
  margin-left: 16px;
  cursor: pointer;
  color: #1a202c;
  font-family: Kanit Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .common-signup-step-input-wrapper .input-signup-step {
    margin-left: 12px;
  }
}
.common-signup-step-input-wrapper .input-signup-step:focus {
  outline: none;
}
.common-signup-step-input-wrapper .input-signup-step::placeholder {
  color: var(--gray-500, #a0aec0);
  font-family: Kanit Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .common-signup-step-input-wrapper .input-signup-step::placeholder {
    font-size: 18px;
  }
}

.common-block-signup-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.common-block-signup-step .common-signup-step-title {
  margin-bottom: 8px;
}

.control-step-wrapper {
  position: absolute;
  width: fit-content;
  right: 44px;
  bottom: 44px;
}
@media only screen and (max-width: 1599px) {
  .control-step-wrapper {
    right: 32px;
    bottom: 32px;
  }
}
.control-step-wrapper .btn-next-step {
  min-width: 120px;
}

.popup {
  position: fixed;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__close {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}
@media only screen and (max-width: 1599px) {
  .popup__close {
    top: 24px;
    right: 24px;
  }
}

.popup__body {
  position: relative;
  max-width: 790px;
  min-width: 790px;
  border-radius: 48px;
  padding: 24px 12px 24px 32px;
  min-height: max-content;
  border: 1px solid #dad4cd;
  background: #fff1de;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 991px) {
  .popup__body {
    min-width: 100%;
    max-width: 100%;
    border-radius: 8px;
    padding: 24px;
  }
}

.popup-content .txt-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}
@media only screen and (max-width: 1599px) {
  .popup-content .txt-title {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
.popup-content .list-avatar {
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 520px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
}
.popup-content .list-avatar::-webkit-scrollbar {
  width: 5px;
}
.popup-content .list-avatar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.popup-content .list-avatar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.popup-content .list-avatar .avatar-item {
  min-width: 158px;
  max-width: 158px;
  height: 158px;
  border-radius: 100px;
  margin-right: 24px;
  margin-bottom: 24px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
}
.popup-content .list-avatar .avatar-item:nth-child(4n) {
  margin-right: 0;
}
@media only screen and (max-width: 1599px) {
  .popup-content .list-avatar .avatar-item {
    min-width: 132px;
    max-width: 132px;
    height: 132px;
    border-radius: 100px;
    border: 1px solid #dad4cd;
    background: #fff;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  }
}

.popup--show {
  z-index: 99999999;
  opacity: 1;
}

.common-block-content {
  border-radius: 48px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
  min-width: 807px;
  height: auto;
  max-width: 807px;
  padding: 50px 32px 45px 20px;
  position: relative;
  margin-bottom: 24px;
}
@media only screen and (max-width: 1599px) {
  .common-block-content {
    border-radius: 32px;
    padding: 32px 24px 16px 16px;
    margin-bottom: 16px;
  }
}
.common-block-content .title-block {
  display: flex;
}
.common-block-content .title-block .icon-step-1 {
  width: 70px;
  height: 51px;
  flex-shrink: 0;
  object-fit: cover;
}
.common-block-content .title-block .hightlight {
  color: #A1CA38;
}
.common-block-content.review-template-class {
  padding: 50px 32px 45px 20px;
}
@media only screen and (max-width: 1599px) {
  .common-block-content.review-template-class {
    border-radius: 32px;
    padding: 32px 24px 45px 16px;
    margin-bottom: 16px;
  }
}

.common-topic-item {
  min-width: 290px;
  max-width: 290px;
  height: auto;
  border-radius: 24px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 8px;
}
.common-topic-item.small-topic .topic-header {
  width: 100%;
  height: 120px;
  border-radius: 18px;
  object-fit: cover;
}
.common-topic-item.normal-topic .topic-header {
  width: 100%;
  height: 156px;
  border-radius: 18px;
}
.common-topic-item.big-topic .topic-header {
  width: 100%;
  height: 162px;
  border-radius: 18px;
}
.common-topic-item .topic-image {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: contain;
}
.common-topic-item .topic-content {
  padding: 12px 8px 8px;
}
.common-topic-item .topic-content .topic-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-bottom: 8px;
}
.common-topic-item .topic-content .topic-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.common-topic-item .topic-content .topic-footer .left-content .action-block {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.common-topic-item .topic-content .topic-footer .left-content .action-block:last-child {
  margin-bottom: 0;
}
.common-topic-item .topic-content .topic-footer .left-content .action-block .action-icon {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  margin-right: 6px;
}
.common-topic-item .topic-content .topic-footer .left-content .action-block .label {
  color: var(--ff-6-d-03, #ff6d03);
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.common-topic-item .topic-content .topic-footer .btn-join-topic {
  min-width: 95px;
  padding: 6px 25px;
  color: #fff;
  font-family: Kanit Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.common-control-roadmap {
  position: fixed;
  top: 50%;
  right: 40px;
  min-width: max-content;
  max-width: max-content;
  padding: 14px;
  border-radius: 16px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.common-control-roadmap .btn-text {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  display: block;
  max-width: 104px;
  text-align: left;
}
.common-control-roadmap .icon-arrow {
  min-width: 36px;
  max-width: 36px;
  height: 33px;
  flex-shrink: 0;
}
.common-control-roadmap.btn-next .icon-arrow {
  margin-left: 12px;
}
.common-control-roadmap.btn-prev {
  flex-direction: row-reverse;
  left: 40px;
}
.common-control-roadmap.btn-prev .icon-arrow {
  margin-right: 12px;
  transform: rotate(180deg);
}

/*# sourceMappingURL=common.css.map */
