/* -----------------------------------------------------------
	font-face kanit
----------------------------------------------------------- */
@font-face {
  font-family: "Kanit Light";
  src: url("../fonts/Kanit-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Regular";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Medium";
  src: url("../fonts/Kanit-Medium.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Bold";
  src: url("../fonts/Kanit-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit ExtraBold";
  src: url("../fonts/Kanit-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.home-page-wrapper {
  display: unset !important;
  position: relative;
  width: 100%;
  height: auto;
}

.home-page-content-wrapper {
  width: 100%;
  height: auto;
}
@media (min-width: 1600px) {
  .home-page-content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.home-header-wrapper {
  width: 100%;
  padding: 24px 40px;
}
@media only screen and (max-width: 1599px) {
  .home-header-wrapper {
    padding: 16px 24px;
  }
}

.home-header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-header-content-wrapper .logo-header {
  width: 157.885px;
  height: 44px;
  flex-shrink: 0;
  min-width: 143.533px;
  object-fit: cover;
}
@media only screen and (max-width: 1599px) {
  .home-header-content-wrapper .logo-header {
    max-width: 143.533px;
    height: 40px;
    flex-shrink: 0;
  }
}
.home-header-content-wrapper .main-menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.home-header-content-wrapper .main-menu .header-btn {
  color: #1a202c;
  font-family: Kanit Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 6px 20px;
  border-radius: 1000px;
  margin-right: 16px;
  border: 1.5px solid var(--gray-600, #718096);
  background: var(--gray-400, #cbd5e0);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15), 0px 3px 0px 0px #c0cddf inset, 0px -3px 0px 0px #c0cddf inset;
}
.home-header-content-wrapper .main-menu .header-btn:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1599px) {
  .home-header-content-wrapper .main-menu .header-btn {
    font-size: 16px;
  }
}
.home-header-content-wrapper .main-menu .active {
  border-radius: 1000px;
  color: #fff;
  border: 1.5px solid #953f00;
  background: var(--ff-6-d-03, #ff6d03);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15), 0px 3px 0px 0px #ff8b03 inset, 0px -3px 0px 0px #ff8b03 inset;
}
.home-header-content-wrapper .menu-setting-wrapper {
  display: flex;
  align-items: center;
}
.home-header-content-wrapper .menu-setting-wrapper .btn-rating-table {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .home-header-content-wrapper .menu-setting-wrapper .btn-rating-table {
    font-size: 16px;
  }
}
.home-header-content-wrapper .menu-setting-wrapper .list-option {
  display: flex;
  align-items: center;
  margin: 0px 24px;
}
.home-header-content-wrapper .menu-setting-wrapper .list-option .option-item {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 1000px;
  border: 0.5px solid #e2d7c7;
  background: var(--white, #fff);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-header-content-wrapper .menu-setting-wrapper .list-option .option-item:last-child {
  margin-right: 0;
}
.home-header-content-wrapper .menu-setting-wrapper .list-option .option-item img {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}
.home-header-content-wrapper .menu-setting-wrapper .user-info-wrapper {
  display: flex;
  align-items: center;
}
.home-header-content-wrapper .menu-setting-wrapper .user-info-wrapper .user-avatar {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}
.home-header-content-wrapper .menu-setting-wrapper .user-info-wrapper .username {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-page-content-wrapper {
  width: 100%;
}

.home-page-intro-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}
.home-page-intro-content .common-badge-wrapper .front-background {
  font-size: 30px;
}
@media only screen and (max-width: 1599px) {
  .home-page-intro-content .common-badge-wrapper .front-background {
    font-size: 24px;
  }
}
.home-page-intro-content .content-detail-wrapper .txt-title {
  color: #ff6d03;
  font-family: Kanit Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-left: 20px;
}
.home-page-intro-content .content-detail-wrapper .list-class {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item {
  min-width: 330px;
  max-width: 330px;
  height: 185px;
  border-radius: 24px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  margin-right: 24px;
  padding: 18px 16px 47px 16px;
  position: relative;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item:last-child {
  margin-right: 0;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item .class-title-block {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item .class-title-block .icon-flag {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item .class-title-block .class-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  min-width: max-content;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item .list-teacher {
  display: flex;
  justify-content: flex-end;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item .list-teacher .teacher-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item .list-teacher .teacher-item:last-child {
  margin-right: 0;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item .list-teacher .teacher-item .teacher-image {
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  margin-bottom: 2px;
  object-fit: cover;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item .list-teacher .teacher-item .teacher-name {
  color: var(--gray-900, #1a202c);
  text-align: center;
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-page-intro-content .content-detail-wrapper .list-class .class-item .btn-view-teacher {
  min-width: 95px;
  color: #fff;
  font-family: Kanit Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 6px 28px !important;
  position: absolute;
  left: calc((100% - 95px) / 2);
  bottom: -20px;
}
.home-page-intro-content .content-detail-wrapper .list-option {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.home-page-intro-content .content-detail-wrapper .list-option .option-item {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}
.home-page-intro-content .content-detail-wrapper .list-option .option-item:last-child {
  margin-bottom: 0;
}
.home-page-intro-content .content-detail-wrapper .list-option .option-item .icon-check {
  min-width: 45px;
  max-width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}
.home-page-intro-content .content-detail-wrapper .list-option .option-item .txt-detail {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 18px;
  font-style: normal;
  max-width: 250px;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.check-and-try-learn-block {
  display: flex;
  justify-content: space-between;
}
.check-and-try-learn-block .right-content {
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  max-width: 290px;
  max-width: 290px;
}

.roadmap-home-page-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.page-roadmap-content-wrapper {
  width: 920.452px;
  height: 397.423px;
  flex-shrink: 0;
  margin: auto;
  background-image: url("../images/image-roadmap-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 156px;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper {
    width: 856px;
    height: 353px;
    flex-shrink: 0;
    background-image: url("../images/image-roadmap-1.png");
    left: 124px;
  }
}
.page-roadmap-content-wrapper .row-item {
  width: 100%;
  height: 33.3333333333%;
  display: flex;
  position: relative;
}
.page-roadmap-content-wrapper .row-item .row-content {
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.page-roadmap-content-wrapper .row-item:nth-child(2) {
  justify-content: flex-end;
  align-items: center;
  left: 90px;
}
.page-roadmap-content-wrapper .row-item:nth-child(2) .level-item .icon-lock {
  right: -47px;
}
.page-roadmap-content-wrapper .row-item:nth-child(2) .level-item .tooltip-block-wrapper {
  left: -220%;
  top: 0;
}
.page-roadmap-content-wrapper .row-item:first-child, .page-roadmap-content-wrapper .row-item:last-child {
  left: -156px;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper .row-item:first-child, .page-roadmap-content-wrapper .row-item:last-child {
    left: -124px !important;
  }
}
.page-roadmap-content-wrapper .row-item:first-child {
  top: -90px;
  left: -38px;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper .row-item:first-child {
    top: -60px;
    left: -94px !important;
  }
}
.page-roadmap-content-wrapper .row-item:first-child .level-item:first-child .icon-lock {
  right: -38px;
}
.page-roadmap-content-wrapper .row-item:first-child .level-item:nth-child(2) .icon-lock {
  right: -47px;
}
.page-roadmap-content-wrapper .row-item:last-child {
  top: 0;
  left: -156px;
}
.page-roadmap-content-wrapper .row-item:last-child .level-item:first-child {
  top: -60px;
}
.page-roadmap-content-wrapper .row-item:last-child .level-item:nth-child(2) .icon-lock {
  right: -47px;
}
.page-roadmap-content-wrapper .level-item {
  min-width: 156px;
  max-width: 156px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper .level-item {
    min-width: 124px;
    max-width: 124px;
  }
}
.page-roadmap-content-wrapper .level-item.disabled .image-level {
  filter: grayscale(100%);
}
.page-roadmap-content-wrapper .level-item .name-level {
  padding: 4px 16px;
  border-radius: 1000px;
  border: 1.5px solid #989187;
  background: #fffbf5;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
  color: var(--gray-900, #1a202c);
  text-align: center;
  font-family: Kanit Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  min-width: max-content;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper .level-item .name-level {
    color: var(--gray-900, #1a202c);
    text-align: center;
    font-family: Kanit Bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
  }
}
.page-roadmap-content-wrapper .level-item .image-level-wrapper {
  margin-top: 16px;
  width: 100%;
  height: 156px;
  position: relative;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper .level-item .image-level-wrapper {
    height: 124px;
  }
}
.page-roadmap-content-wrapper .level-item .image-level-wrapper .image-level {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-roadmap-content-wrapper .level-item .image-level-wrapper .icon-lock {
  position: absolute;
  right: -20px;
  top: -20px;
  display: flex;
  width: 47.25px;
  height: 46.6px;
  object-fit: cover;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper .level-item .image-level-wrapper .icon-lock {
    width: 40px;
    height: 40px;
  }
}
.page-roadmap-content-wrapper .level-item .list-star {
  display: flex;
  margin-top: 6px;
}
.page-roadmap-content-wrapper .level-item .list-star .star-item {
  min-width: 22px;
  max-width: 22px;
  height: 22px;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper .level-item .list-star .star-item {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
  }
}
.page-roadmap-content-wrapper .level-item .list-star .star-item .star-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 99999;
  border-radius: 24px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 6px 12px 20px;
  min-width: 350px;
  max-width: 350px;
  height: auto;
  display: none;
  transition: all ease 0.2s;
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .tooltip-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Bold;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .tooltip-title {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .list-target {
  width: 100%;
  padding-right: 8px;
  max-height: 180px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .list-target::-webkit-scrollbar {
  width: 5px;
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .list-target::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .list-target::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .list-target .target-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .list-target .target-item:last-child {
  margin-bottom: 0;
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .list-target .target-item .icon-check {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}
.page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .list-target .target-item .txt-target {
  max-width: 270px;
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .page-roadmap-content-wrapper .level-item .tooltip-block-wrapper .list-target .target-item .txt-target {
    font-size: 14px;
  }
}
.page-roadmap-content-wrapper .level-item:hover .tooltip-block-wrapper {
  display: block;
}

.topic-page-wrapper .topic-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topic-page-wrapper .topic-content-wrapper .header-topic-page-block {
  margin-bottom: 44px;
}
.topic-page-wrapper .topic-content-wrapper .warning-message-wrapper {
  width: 100%;
  padding: 12px 0px;
  border-radius: 8px;
  border: 1px solid #094cc0;
  background: var(--2971-f-0, #2971f0);
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1224px;
}
@media only screen and (max-width: 1599px) {
  .topic-page-wrapper .topic-content-wrapper .warning-message-wrapper {
    max-width: 1080px;
  }
}
.topic-page-wrapper .topic-content-wrapper .warning-message-wrapper .icon-lock {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 12px;
  object-fit: cover;
}
.topic-page-wrapper .topic-content-wrapper .warning-message-wrapper .txt-description {
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Kanit Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.topic-page-wrapper .topic-content-wrapper .block-item {
  width: 100%;
  max-width: 1224px;
  border-radius: 24px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin-top: 24px;
}
@media only screen and (max-width: 1599px) {
  .topic-page-wrapper .topic-content-wrapper .block-item {
    max-width: 1080px;
  }
}
.topic-page-wrapper .topic-content-wrapper .header-item-block {
  display: flex;
  margin-bottom: 12px;
  width: fit-content;
}
.topic-page-wrapper .topic-content-wrapper .header-item-block .icon-header {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 12px;
}
.topic-page-wrapper .topic-content-wrapper .header-item-block .txt-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.topic-page-wrapper .topic-content-wrapper .header-item-block .title-wrapper {
  display: flex;
  align-items: center;
}
.topic-page-wrapper .topic-content-wrapper .header-item-block .level-label {
  border-radius: 6px;
  background: #6935be;
  padding: 2px 6px;
  color: #fff;
  font-family: Kanit Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 8px;
  text-transform: uppercase;
}
.topic-page-wrapper .topic-content-wrapper .header-item-block .description {
  color: var(--gray-600, #718096);
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.topic-page-wrapper .topic-content-wrapper .justify-start {
  justify-content: flex-start;
}
.topic-page-wrapper .topic-content-wrapper .justify-center {
  justify-content: center;
}
.topic-page-wrapper .topic-content-wrapper .topic-store-wrapper .list-topic {
  display: flex;
  flex-wrap: wrap;
}
.topic-page-wrapper .topic-content-wrapper .topic-store-wrapper .list-topic .topic-item {
  border-radius: 100px;
  padding: 7px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid var(--gray-400, #cbd5e0);
}
.topic-page-wrapper .topic-content-wrapper .topic-store-wrapper .list-topic .topic-item .hashtag {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.topic-page-wrapper .topic-content-wrapper .topic-store-wrapper .list-topic .topic-item .topic-count {
  color: var(--gray-600, #718096);
  text-align: center;
  font-family: Kanit Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher {
  display: flex;
  flex-wrap: wrap;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .avatar-teacher-wrapper {
  position: relative;
  min-width: 88px;
  max-width: 88px;
  height: 88px;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .avatar-teacher-wrapper .teacher-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .avatar-teacher-wrapper .icon-add-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .avatar-teacher-wrapper .icon-add-wrapper .icon-add {
  min-width: 28px;
  max-width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .teacher-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .teacher-info .teacher-name {
  color: var(--gray-900, #1a202c);
  text-align: center;
  font-family: Kanit Medium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .teacher-info .teacher-rating {
  display: flex;
  align-items: center;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .teacher-info .teacher-rating .icon-rating {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  object-fit: cover;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .teacher-info .teacher-rating .rating {
  color: var(--gray-900, #1a202c);
  text-align: center;
  font-family: Kanit Regular;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 4px;
}
.topic-page-wrapper .topic-content-wrapper .teacher-topic-wrapper .list-teacher .teacher-item .teacher-info .teacher-rating .count {
  color: var(--gray-900, #718096);
  text-align: center;
  font-family: Kanit Regular;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper {
  width: 100%;
  margin-top: 72px;
  max-width: 1224px;
}
@media only screen and (max-width: 1599px) {
  .topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper {
    max-width: 1080px;
  }
}
.topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item {
  width: 100%;
}
.topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item .header-block {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1599px) {
  .topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item .header-block {
    margin-bottom: 32px;
  }
}
.topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item .header-block .icon-calendar {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  margin-right: 16px;
}
.topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item .header-block .txt-title {
  color: var(--gray-900, #1A202C);
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 1599px) {
  .topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item .header-block .txt-title {
    font-size: 24px;
  }
}
.topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item .list-topic {
  display: flex;
  flex-wrap: wrap;
}
.topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item .list-topic .topic-item {
  width: calc((100% - 108px) / 3);
  max-width: 372px;
  margin-right: 54px;
  margin-bottom: 54px;
}
@media only screen and (max-width: 1599px) {
  .topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item .list-topic .topic-item {
    max-width: 343px;
  }
}
.topic-page-wrapper .topic-content-wrapper .main-topic-by-day-wrapper .topic-by-day-item .list-topic .topic-item:nth-child(3n) {
  margin-right: 0;
}

/*# sourceMappingURL=home.css.map */
