/* -----------------------------------------------------------
	font-face kanit
----------------------------------------------------------- */
@font-face {
  font-family: "Kanit Light";
  src: url("../fonts/Kanit-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Regular";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Medium";
  src: url("../fonts/Kanit-Medium.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Bold";
  src: url("../fonts/Kanit-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit ExtraBold";
  src: url("../fonts/Kanit-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.parent-page-content-wrapper {
  width: 100%;
}
.parent-page-content-wrapper .parent-page-content {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 40px;
}
.parent-page-content-wrapper .main-left-layout {
  min-width: 160px;
  max-width: 160px;
  height: fit-content;
  border-radius: 24px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  margin-right: 24px;
  padding: 8px;
}
.parent-page-content-wrapper .main-right-layout {
  min-width: 900px;
  max-width: 900px;
  height: auto;
  border-radius: 24px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 24px;
}
.parent-page-content-wrapper .parent-menu {
  width: 100%;
  padding: 0;
  margin: 0;
}
.parent-page-content-wrapper .parent-menu .parent-menu-item {
  padding: 8px 16px;
  border-radius: 1000px;
  transition: all 0.2s ease;
  margin-bottom: 4px;
}
.parent-page-content-wrapper .parent-menu .parent-menu-item:last-child {
  margin-bottom: 0;
}
.parent-page-content-wrapper .parent-menu .parent-menu-item a {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parent-page-content-wrapper .parent-menu .parent-menu-item:hover {
  cursor: pointer;
  background-color: rgba(255, 109, 3, 0.1);
}
.parent-page-content-wrapper .parent-menu .parent-menu-item:hover a {
  color: #ff6d03;
}
.parent-page-content-wrapper .parent-menu .active {
  background-color: rgba(255, 109, 3, 0.1);
}
.parent-page-content-wrapper .parent-menu .active a {
  color: #ff6d03;
}
.parent-page-content-wrapper .main-right-layout {
  color: var(--gray-900, #1A202C);
  font-family: Kanit Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.parent-page-content-wrapper .layout-content {
  margin-top: 12px;
  width: 100%;
}
.parent-page-content-wrapper .dashboard-block-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #E2E8F0;
}
.parent-page-content-wrapper .dashboard-block-wrapper .normal-dashboard {
  min-width: 172px;
  max-width: 172px;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item {
  margin-right: 24px;
  border-radius: 16px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item:last-child {
  margin-right: 0;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item:first-child {
  background-color: #48BB78;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item:nth-child(2) {
  background-color: #5A67D8;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item:nth-child(3) {
  background-color: #F56565;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item:last-child {
  background-color: #805AD5;
  flex-grow: 1;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .txt-label {
  color: #FFF;
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .value {
  color: #FFF;
  font-family: Kanit Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .info-detail {
  display: flex;
  align-items: center;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .info-detail .rate-value-wrapper {
  display: flex;
  align-items: center;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .info-detail .rate-value-wrapper .main-score {
  color: var(--ffb-700, #FFB700);
  font-family: Kanit Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .info-detail .rate-value-wrapper .sub-score {
  color: #FFF;
  font-family: Kanit Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .list-star {
  display: flex;
  align-items: center;
  margin: 0px 8px;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .list-star .star-item {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .list-star .star-item img {
  display: block;
  width: 100%;
  height: 100%;
}
.parent-page-content-wrapper .dashboard-block-wrapper .dashboard-item .result {
  color: #FFF;
  font-family: Kanit Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parent-page-content-wrapper .filer-by-time-box {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 20px;
}
.parent-page-content-wrapper .filer-by-time-box .filter-label {
  color: var(--gray-900, #1A202C);
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 12px;
}
.parent-page-content-wrapper .filer-by-time-box .dash {
  display: block;
  width: 8px;
  height: 1px;
  border: none;
  background-color: #000;
  margin: 0px 12px;
}
.parent-page-content-wrapper .progress-table-wrapper {
  padding: 24px 0px;
  border-bottom: 1px solid #E2E8F0;
}
.parent-page-content-wrapper .progress-table-wrapper .progress-table {
  border-radius: 12px;
  border: 1px solid #DAD4CD;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
}
.parent-page-content-wrapper .progress-table-wrapper .progress-table .table-header {
  display: flex;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 1px solid #DAD4CD;
  background: var(--gray-200, #EDF2F7);
}
.parent-page-content-wrapper .progress-table-wrapper .progress-table .table-body {
  display: flex;
  flex-wrap: wrap;
}
.parent-page-content-wrapper .progress-table-wrapper .progress-table .column {
  width: 14.2857142857%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  color: var(--gray-900, #1A202C);
  text-align: center;
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parent-page-content-wrapper .progress-table-wrapper .progress-table .active {
  background-color: #FF6D03;
  cursor: pointer;
}
.parent-page-content-wrapper .progress-table-wrapper .suggestion-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.parent-page-content-wrapper .progress-table-wrapper .suggestion-wrapper .color-box {
  width: 38px;
  height: 15px;
  background-color: #FF6D03;
  border: none;
  margin-right: 12px;
}
.parent-page-content-wrapper .progress-table-wrapper .suggestion-wrapper .txt-suggestion {
  color: var(--gray-900, #1A202C);
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parent-page-content-wrapper .footer-block {
  padding-top: 24px;
}
.parent-page-content-wrapper .footer-block .list-value {
  margin-top: 12px;
}
.parent-page-content-wrapper .footer-block .list-value .value-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: var(--gray-900, #1A202C);
  font-family: Kanit Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parent-page-content-wrapper .footer-block .list-value .value-item .txt-value {
  color: #FF6D03;
  margin-left: 4px;
}
.parent-page-content-wrapper .footer-block .list-value .value-item:last-child {
  margin-bottom: 0;
}
.parent-page-content-wrapper .filter-by-type-wrapper {
  margin-left: 48px;
  display: flex;
  align-items: center;
}
.parent-page-content-wrapper .list-lesson {
  padding: 16px 0px;
  border-top: 1px solid #E2E8F0;
}
.parent-page-content-wrapper .list-lesson .common-lesson-item {
  margin-bottom: 16px;
}
.parent-page-content-wrapper .list-lesson .common-lesson-item:last-child {
  margin-bottom: 0;
}

