@charset "utf-8";
@import "variables";
@import "fonts";
@import "mixins";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
h6,
br,
hr {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font_main;
  color: $body-color;
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.7;
  }
}

.list-style-none {
  list-style: none !important;
}

ul,
ol {
  list-style-type: none;
}

.text-primary {
  color: $primary !important;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.w-100 {
  width: 100%;
}

.background-common {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  background-color: #f2ece4;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/cloud-background-image.png");
    background-size: contain;
    background-position: top left;
    background-repeat: repeat;
    content: "";
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bottom-background-image.png");
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    content: "";
    z-index: 2;
  }

  .page-content-wrapper-common {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;

    @media (min-width: 1900px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.header-logo {
  position: fixed;
  top: 24px;
  left: 40px;
  text-decoration: none;

  .header-logo-image {
    width: 157.885px;
    height: 44px;
    flex-shrink: 0;
    object-fit: cover;
  }
}

.main-page-content {
  margin-top: 140px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mq(max_xxl) {
    margin-top: 85px;
  }

  @media (min-width: 1900px) {
    margin-top: 0;
  }
}

.common-badge-wrapper {
  min-width: 259px;
  width: 259px;
  height: 69px;
  flex-shrink: 0;
  position: absolute;
  top: -30px;
  right: calc((100% - 250px) / 2);

  @include mq(max_xxl) {
    min-width: 223px;
    width: 223px;
    height: 56px;
    right: calc((100% - 223px) / 2);
  }

  .back-background {
    width: 100%;
    height: 30px;
    background-color: #9e4300;
    border-top: none;
    border-left: 4px solid #ccc;
    border-right: 4px solid #ccc;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @include mq(max__xxl) {
      height: 24px;
    }
  }

  .front-background {
    width: 100%;
    height: 100%;
    background-image: url("../images/front-badge-image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    font-family: Kanit Bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
    position: absolute;

    @include mq(max_xxl) {
      color: #fff;
      text-align: center;
      font-family: Kanit;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.48px;
    }

    .text-label {
      position: relative;
      top: -8px;

      @include mq(max_xxl) {
        top: -4px;
      }
    }
  }
}

.common-form-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  border: 1px solid #e4d3bc;
  background: #fff1de;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.06);
  position: relative;

  @include mq(max_xxl) {
    border-radius: 24px;
    border: 1px solid #e4d3bc;
    background: #fff1de;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.06);
  }

  &::before {
    width: 100%;
    height: 80px;
    content: "";
    background-image: url("../images/mask-background-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;

    @include mq(max_xxl) {
      background-image: url("../images/mask-background-3.png");
    }
  }

  .form-content-wrapper {
    width: 100%;
    min-height: max-content;
    position: relative;
    z-index: 9999;
  }
}

.common-btn {
  min-width: max-content;
  max-width: max-content;
  padding: 8px 32px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1.5px solid #953f00;
  background: var(--ff-6-d-03, #ff6d03);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15), 0px 3px 0px 0px #ff8b03 inset,
    0px -3px 0px 0px #ff8b03 inset;

  color: #fff;
  font-family: Kanit Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;

  &:focus {
    outline: none;
  }

  @include mq(max_xxl) {
    font-size: 20px;
    padding: 9px 40px;
  }

  .icon-btn-1 {
    position: absolute;
    top: 5px;
    right: 6px;
    min-width: 7.341px;
    height: 17.171px;
    transform: rotate(20deg);
  }

  .icon-btn-2 {
    position: absolute;
    left: 8px;
    bottom: 4px;
    min-width: 10.703px;
    height: 11.56px;
    transform: rotate(10deg);
    flex-shrink: 0;
  }
}

.common-signup-step-block-wrapper {
  width: 100%;
  height: 600px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include mq(max_xxl) {
    height: 430px;
    padding-top: 46px;
  }
}

.common-signup-step-title {
  color: var(--gray-900, #1a202c);
  font-family: Kanit Bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include mq(max_xxl) {
    font-size: 24px;
  }
}

.common-signup-step-input-wrapper {
  display: flex;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  padding: 7px;
  padding-right: 16px;
  min-width: 424px;

  @include mq(max__xxl) {
    min-width: 370px;
  }

  .icon-signup-step {
    min-width: 42px;
    max-width: 42px;
    height: 42px;
    border-radius: 50%;

    @include mq(max_xxl) {
      min-width: 36px;
      max-width: 36px;
      height: 36px;
    }
  }

  .input-signup-step {
    flex-grow: 1;
    border: none;
    margin-left: 16px;
    cursor: pointer;
    color: #1a202c;
    font-family: Kanit Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mq(max_xxl) {
      margin-left: 12px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--gray-500, #a0aec0);
      font-family: Kanit Medium;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include mq(max_xxl) {
        font-size: 18px;
      }
    }
  }
}

.common-block-signup-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

  .common-signup-step-title {
    margin-bottom: 8px;
  }
}

.control-step-wrapper {
  position: absolute;
  width: fit-content;
  right: 44px;
  bottom: 44px;

  @include mq(max_xxl) {
    right: 32px;
    bottom: 32px;
  }

  .btn-next-step {
    min-width: 120px;
  }
}

// style common for popup
.popup {
  position: fixed;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__close {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;

  @include mq(max_xxl) {
    top: 24px;
    right: 24px;
  }
}

.popup__body {
  position: relative;
  max-width: 790px;
  min-width: 790px;
  border-radius: 48px;
  padding: 24px 12px 24px 32px;
  min-height: max-content;
  border: 1px solid #dad4cd;
  background: #fff1de;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);

  @include mq(max_md) {
    min-width: 100%;
    max-width: 100%;
    border-radius: 8px;
    padding: 24px;
  }
}

.popup-content {
  .txt-title {
    color: var(--gray-900, #1a202c);
    font-family: Kanit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;

    @include mq(max_xxl) {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }

  .list-avatar {
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-height: 520px;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 5px;
    }

    .avatar-item {
      min-width: 158px;
      max-width: 158px;
      height: 158px;
      border-radius: 100px;
      margin-right: 24px;
      margin-bottom: 24px;
      border: 1px solid #dad4cd;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);

      &:nth-child(4n) {
        margin-right: 0;
      }

      @include mq(max_xxl) {
        min-width: 132px;
        max-width: 132px;
        height: 132px;
        border-radius: 100px;
        border: 1px solid #dad4cd;
        background: #fff;
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
      }

      img {
        width: 100%;
        max-width: 132px;
        object-fit: cover;

        @include mq(max_xxl) {
          max-width: 100px;
        }
      }
    }
  }
}
.popup--show {
  z-index: 99999999;
  opacity: 1;
}

.common-block-content {
  border-radius: 48px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
  min-width: 807px;
  height: auto;
  max-width: 807px;
  padding: 50px 32px 45px 20px;
  position: relative;
  margin-bottom: 24px;

  @include mq(max_xxl) {
    border-radius: 32px;
    padding: 32px 24px 16px 16px;
    margin-bottom: 16px;
  }
  .title-block {
    display: flex;

    .icon-step-1 {
      width: 70px;
      height: 51px;
      flex-shrink: 0;
      object-fit: cover;

      @include mq(max_xxl) {
        // width: 52.5px;
        // height: 38.25px;
      }
    }

    .hightlight {
      color: #a1ca38;
    }
  }

  &.review-template-class {
    padding: 50px 32px 45px 20px;
    @include mq(max_xxl) {
      border-radius: 32px;
      padding: 32px 24px 45px 16px;
      margin-bottom: 16px;
    }
  }
}

.common-topic-item {
  width: 100%;
  height: auto;
  border-radius: 24px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 8px;

  .topic-header {
    position: relative;
  }

  .label-learn-again {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 18px;
    padding: 5px 16px;
    color: #fff;
    font-family: Kanit;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--ff-6-d-03, #ff6d03);
  }

  &.small-topic {
    .topic-header {
      width: 100%;
      height: 120px;
      border-radius: 18px;
      object-fit: cover;

      @include mq(max_xxl) {
        height: 92px;
      }
    }
  }

  &.normal-topic {
    .topic-header {
      width: 100%;
      height: 156px;
      border-radius: 18px;
      object-fit: cover;

      @include mq(max_xxl) {
        height: 144px;
      }
    }
  }
  &.big-topic {
    .topic-header {
      width: 100%;
      height: 162px;
      object-fit: cover;
      border-radius: 18px;
    }
  }

  .topic-image {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
  }
  .topic-content {
    padding: 12px 8px 8px;
    .topic-title {
      color: var(--gray-900, #1a202c);
      font-family: Kanit Bold;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.36px;
      margin-bottom: 8px;

      @include mq(max_xxl) {
        font-size: 16px;
      }
    }

    .sub-title {
      color: var(--gray-700, #4a5568);
      font-family: Kanit Regular;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 4px;
    }

    .topic-footer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .left-content {
        .action-block {
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          .action-icon {
            min-width: 20px;
            max-width: 20px;
            height: 20px;
            margin-right: 6px;
          }

          .label {
            color: var(--ff-6-d-03, #ff6d03);
            font-family: Kanit Regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      .common-btn {
        min-width: 85px;
        padding: 8px 14px;
        font-size: 18px;
        @include mq(max_xxl) {
          font-size: 16px;
        }
      }
      .btn-join-topic {
        min-width: 85px;
        padding: 6px 25px;
        color: #fff;
        font-family: Kanit Bold;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @include mq(max_xxl) {
          font-size: 16px;
        }
      }

      .btn-learn-again {
        color: #1a202c;
        border-radius: 1000px;
        border: 1.5px solid #b48100;
        background: var(--ffb-700, #ffb700);
        box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15),
          0px 3px 0px 0px #ffc93e inset, 0px -3px 0px 0px #ffc93e inset;
      }

      .btn-scheduled {
        padding: 6px 16px;
        color: #fff;
        border-radius: 1000px;
        border: 1.5px solid var(--gray-600, #718096);
        background: var(--gray-500, #a0aec0);
        box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15),
          0px 3px 0px 0px #c0cddf inset, 0px -3px 0px 0px #c0cddf inset;
      }
    }
  }
}

.common-control-roadmap {
  position: fixed;
  top: 50%;
  right: 40px;
  min-width: max-content;
  max-width: max-content;
  padding: 14px;
  border-radius: 16px;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: pointer;

  .btn-text {
    color: var(--gray-900, #1a202c);
    font-family: Kanit Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
    display: block;
    max-width: 104px;
    text-align: left;
  }

  .icon-arrow {
    min-width: 36px;
    max-width: 36px;
    height: 33px;
    flex-shrink: 0;
  }

  &.btn-next {
    .icon-arrow {
      margin-left: 12px;
    }
  }

  &.btn-prev {
    flex-direction: row-reverse;
    left: 40px;
    .icon-arrow {
      margin-right: 12px;
      transform: rotate(180deg);
    }
  }
}

.common-history-list-topic-register {
  min-width: 760px;
  max-width: 760px;
  border-radius: 16px;
  height: auto;
  border: 1px solid #dad4cd;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 8px 16px 12px 16px;
  margin-top: 30px;

  @include mq(max_xxl) {
    margin-top: 16px;
  }

  .header-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e8f0;
    .left-header {
      display: flex;
      align-items: center;

      .txt-header {
        color: #1a202c;
        font-family: Kanit Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .hightlight {
        color: #ff6d03;
      }
    }
    .icon-header {
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      object-fit: cover;
    }

    .icon-calendar {
      margin-right: 12px;
    }

    .toggle-view-all-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;

      .btn-txt {
        color: var(--2971-f-0, #2971f0);
        font-family: Kanit Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 2px;
      }
    }
  }

  .body-block {
    width: 100%;
  }

  .collapse-list-history-topic {
    display: none;
  }
}

.common-history-topic-item {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  border-top: 1px solid #e2e8f0;

  .left-content {
    width: 45%;
    display: flex;
    align-items: center;
    margin-right: 6px;

    .history-topic-image-wrapper {
      min-width: 97px;
      max-width: 97px;
      height: 42px;
      margin-right: 16px;

      .history-topic-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .topic-time-wrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;

      .icon-wrapper {
        border-radius: 1000px;
        background: var(--gray-200, #edf2f7);
        min-width: 32px;
        max-width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;

        .icon-clock {
          min-width: 20px;
          max-width: 20px;
          height: 20px;
        }
      }

      .time-string {
        min-width: max-content;
        color: var(--gray-900, #1a202c);
        font-family: Kanit Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .right-content {
    width: 55%;
    display: flex;
    align-items: center;
    margin-left: 6px;
    .column {
      width: calc(100% / 3);
      display: flex;

      &:first-child {
      }

      &:nth-child(2) {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }

    .teacher-info {
      display: flex;
      align-items: center;

      .teacher-image {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 8px;
      }

      .teacher-name {
        flex-grow: 1;
        color: var(--gray-900, #1a202c);
        font-family: Kanit Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 80px;
      }
    }

    .topic-status {
      display: flex;
      align-items: center;
      padding: 0px 4px;
      border-radius: 1000px;
      color: var(--gray-900, #1a202c);
      font-family: Kanit Regular;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      .icon-check {
        min-width: 16px;
        max-width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 4px;
      }
      &.success {
        background-color: rgba(72, 187, 120, 0.1);
        color: #48bb78;
      }

      &.info {
        color: #2971f0;
        background-color: rgba(41, 113, 240, 0.1);
      }

      &.default {
        background-color: rgba(26, 32, 44, 0.1);
        color: #1a202c;
      }
    }

    .btn-join {
      min-width: 85px;
      padding: 6px 25px;
      font-size: 18px;
    }
  }
}

.common-tooltip-box-content {
  height: auto;
  border-radius: 16px;
  border: 1px solid var(--gray-300, #e2e8f0);
  background: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  right: 100%;
  top: 0;
  padding: 16px;
  min-width: 650px;
  max-width: 650px;
  display: none;;
  transition:  all 0.2s ease;

  .tooltip-title {
    color: var(--gray-900, #1a202c);
    font-family: Kanit Regular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .tooltip-content-wrapper {
    margin-top: 16px;
    width: 100%;

    .list-badge {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .badge-item {
        padding: 24px 0px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 16px;

        border-radius: 8px;
        background: var(--gray-100, #f7fafc);
        min-width: calc((100% - 48px) / 5);
        max-width: calc((100% - 48px) / 5);

        &:last-child {
          margin-right: 0;
        }

        .badge-info {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 24px;

          .badge-wrapper {
            min-width: 80px;
            max-width: 80px;
            height: 80px;
            margin-bottom: 16px;

            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .badge-name {
            color: var(--gray-900, #1A202C);
            text-align: center;
            font-family: Kanit Regular;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 80px;
            line-height: 19px;
            text-align: center;
          }
        }

        .count {
          color: var(--ff-6-d-03, #FF6D03);
          text-align: center;
            font-family: Kanit Regular;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}
