/* -----------------------------------------------------------
	font-face kanit
----------------------------------------------------------- */
@font-face {
  font-family: "Kanit Light";
  src: url("../fonts/Kanit-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit Regular";
  src: url("../fonts/Kanit-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit Medium";
  src: url("../fonts/Kanit-Medium.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit Bold";
 src: url("../fonts/Kanit-Bold.ttf");

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit ExtraBold";
 src: url("../fonts/Kanit-ExtraBold.ttf");

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
