@charset "utf-8";
@import "variables";
@import "fonts";
@import "mixins";

.main-box-wrapper {
  width: fit-content;
  border-radius: 48px;
  border: 1px solid #dad4cd;
  background: #fff;
  padding: 16px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include mq(max_xxl) {
    border-radius: 32px;
  }

  .left-content {
    width: fit-content;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .main-title {
    max-width: 530px;
    text-align: center;
    color: #9b461a;
    font-family: Kanit Bold;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 16px;

    @include mq(max_xxl) {
      max-width: 400px;
      font-size: 32px;
      line-height: 44px;
    }

    .hightlight {
      color: #ff6d03;
    }
  }

  .description {
    color: #1a202c;
    font-family: Kanit Medium;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;

    @include mq(max_xxl) {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }

  .box-icon {
    width: 279px;
    height: 279px;
    min-width: 279px;
    flex-shrink: 0;

    @include mq(max_xxl) {
      width: 254px;
      height: 254px;
      flex-shrink: 0;
    }

    .icon-bitu-1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .right-content {
    width: fit-content;
    margin-left: 50px;

    @include mq(max_xxl) {
      margin-left: 24px;
    }

    .login-form-wrapper {
      min-width: 500px;
      max-width: 500px;
      height: auto;
      position: relative;
      top: -20px;

      @include mq(max_xxl) {
        min-width: 430px;
        max-width: 430px;
        top: 0;
      }
    }

    .form-content-wrapper {
      padding: 50px 38px 18px 38px;
      position: relative;

      @include mq(max_xxl) {
        padding: 45px 32px 16px 32px;
      }

      .login-form {
        width: 100%;

        .form-item-wrapper {
          width: 100%;
          border-radius: 1000px;
          border: 1px solid #dad4cd;
          background: #fff;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
          display: flex;
          align-items: center;
          padding: 6px;
          position: relative;
          margin-bottom: 16px;

          .form-icon {
            min-width: 42px;
            max-width: 42px;
            height: 42px;
            border-radius: 50%;
            object-fit: cover;

            @include mq(max_xxl) {
              min-width: 36px;
              max-width: 36px;
              height: 36px;
            }
          }

          .prefix-phone-wrapper {
            display: flex;
            align-items: center;
            padding: 0px 16px;
            border-right: 1px solid #a0aec0;
            color: var(--gray-900, #1a202c);
            font-family: Kanit Regular;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-height: 28px;

            @include mq(max_xxl) {
              font-size: 18px;
              max-height: 24px;
              padding: 0px 16px 0px 12px;
            }

            span {
              margin-right: 2px;
            }
          }


          .input-wrapper {
            flex-grow: 1;
          }

          .form-input {
            border: none;
            width: 100%;
            position: relative;
            padding: 0px 16px;
            color: #1a202c;
            font-family: Kanit Regular;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &::placeholder {
              color: #a0aec0;
              font-family: Kanit Regular;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            &:focus {
              outline: none;
            }

            &[type="password"] {
              padding-right: 40px;
            }
          }

          .icon-toggle-password {
            position: absolute;
            top: 12px;
            right: 16px;
          }
        }

        .form-control-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .btn-forgot-password {
            color: var(--ff-6-d-03, #ff6d03);
            font-family: Kanit Regular;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @include mq(max_xxl) {
              font-size: 18px;
            }
          }
        }

        .login-with-wrapper {
          margin: 16px 0px;
          width: 100%;
          border-radius: 24px;
          background: #f8e7cf;
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.13) inset,
            0px -1.5px 0px 0px rgba(255, 255, 255, 0.8) inset;
          padding: 13px 0px 22px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @include mq(max_xxl) {
            padding: 16px 0px;
          }

          .block-title {
            color: var(--gray-900, #1a202c);
            font-family: Kanit Regular;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: inline-block;
            margin-bottom: 12px;
          }

          .list-icon-login {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon-login-item {
              margin-right: 20px;

              &:last-of-type {
                margin-right: 0;
              }

              a {
                img {
                  display: block;
                  min-width: 40px;
                  max-width: 40px;
                  height: 40px;
                  border-radius: 50%;
                }
              }
            }
          }
        }

        .btn-login {
          color: #fff;
          background-color: var(--ff-6-d-03, #ff6d03);
        }

        .btn-create-account {
          display: block;
          margin: auto;
          color: var(--gray-900, #1a202c);
          background: var(--ffb-700, #ffb700);
        }
      }
    }
  }
}

.sign-in-page-wrapper {
  .common-badge-wrapper {
    right: 140px;
    z-index: 9999;
    top: -30px;
  }
}

.common-content-detail-wrapper {
  min-width: 1120px;
  max-width: 1120px;
  height: auto;

  @include mq(max_xxl) {
    min-width: 864px;
    max-width: 864px;
  }

  .step2-content-detail {
    padding: 50px 0px 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include mq(max_xxl) {
      padding: 45px 0px 24px;
    }
  }

  .common-form-wrapper {
    &::before {
      background-image: url("../images/mask-background-2.png");
    }
  }

  .choose-profile-title {
    color: var(--gray-900, #1a202c);
    font-family: Kanit Bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include mq(max_xxl) {
      font-size: 24px;
    }
  }

  .list-profile-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 124px 0px 90px;

    @include mq(max_xxl) {
      margin: 24px 0px 32px;
      flex-direction: column;
    }

    .list-profile {
      display: flex;
      margin-right: 32px;

      @include mq(max_xxl) {
        margin-right: 0;
        margin-bottom: 24px;
      }

      .profile-item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 32px;

        &:first-child {
          .profile-item-avatar {
            background: var(--2971-f-0, #2971f0);
          }
        }

        &:nth-child(2) {
          .profile-item-avatar {
            background: var(--2971-f-0, #ff6d03);
          }
        }

        &:nth-child(3) {
          margin-right: 0;

          .profile-item-avatar {
            background: var(--2971-f-0, #ffb700);
          }
        }

        .profile-item-avatar {
          width: 158px;
          height: 158px;
          flex-shrink: 0;
          border-radius: 24px;
          box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 16px;

          @include mq(max_xxl) {
            width: 124px;
            height: 124px;
            margin-bottom: 12px;
          }
        }

        .profile-item-name {
          color: var(--gray-900, #1a202c);
          font-family: Kanit Regular;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .btn-add-profile-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include mq(max_xxl) {
        flex-direction: row;
      }

      .btn-add-profile {
        cursor: pointer;
        background-color: transparent;
        width: fit-content;
        border-radius: 50%;
        margin-bottom: 8px;
        border: none;

        @include mq(max_xxl) {
          margin-bottom: 0;
        }

        img {
          min-width: 52px;
          max-width: 52px;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;

          @include mq(max_xxl) {
            min-width: 48px;
            max-width: 48px;
            margin-right: 12px;
          }
        }
      }

      .label {
        color: var(--gray-900, #1a202c);
        font-family: Kanit Regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include mq(max_xxl) {
          font-size: 16px;
        }
      }
    }
  }

  .btn-for-parent {
    color: var(--2971-f-0, #2971f0);
    font-family: Kanit Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;

    @include mq(max_xxl) {
      font-size: 16px;
    }
  }
}

.login-step3-block-wrapper {
  .common-badge-wrapper {
    right: calc((100% - 250px) / 2);

    @include mq(max_xxl) {
      right: calc((100% - 223px) / 2);
    }
  }

  .step3-content-detail {
    padding: 50px 0px 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(max_xxl) {
      padding: 48px 0px 24px;
    }
  }

  .top-block-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-wrapper {
      min-width: max-content;
      border-radius: 48px;
      border: 1px solid #dad4cd;
      background: #fff;
      padding: 10px 18px;

      .icon-logo-1 {
        min-width: 124.528px;
        height: 44px;
        flex-shrink: 0;
        object-fit: cover;

        @include mq(max_xxl) {
          min-width: 95px;
          height: 34px;
          flex-shrink: 0;
        }
      }

      .icon-logo-2 {
        min-width: 157.885px;
        height: 44px;
        flex-shrink: 0;
        object-fit: cover;

        @include mq(max_xxl) {
          min-width: 118px;
          height: 32.884px;
          flex-shrink: 0;
        }
      }
    }

    .arrow-wrapper {
      margin: 0px 24px;

      @include mq(max_xxl) {
        margin: 0px 16px;
      }
    }
  }

  .description {
    margin: 24px 0px 0px;
    max-width: 770px;
    text-align: center;
    color: var(--gray-900, #1a202c);
    text-align: center;
    font-family: Kanit Bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include mq(max_xxl) {
      color: var(--gray-900, #1A202C);
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      max-width: 580px;
      margin: 16px 0px 0px;
    }
  }

  .btn-covert-account {
    color: #fff;
    background: var(--ff-6-d-03, #ff6d03);
    min-width: 196px;
    text-align: center;

    @include mq(max_xxl) {
      min-width: 143px;
    }
  }

  .note {
    max-width: 750px;
    color: #957d5b;
    text-align: center;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 16px;
    background: #f1e0c9;
    margin: 24px 0px 48px;
    padding: 13px 26px 14px 18px;

    @include mq(max_xxl) {
      max-width: 725px;
      margin: 16px 0px 16px;
      padding: 14px 22px;
    }
  }

  .btn-cancel {
    margin-top: 32px;
    color: var(--gray-900, #1A202C);
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;

    @include mq(max_xxl) {
      color: var(--gray-900, #1A202C);
      font-family: Kanit;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      margin-top: 16px;
    }
  }
}

.signup-step2-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    color: var(--gray-900, #1A202C);
    text-align: center;
    font-family: Kanit Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    // max-width: 376px;
    min-width: max-content;
    margin: 20px 0px 30px;

    @include mq(max_xxl) {
      font-size: 16px;
      max-width: unset;
      min-width: max-content;
      margin: 12px 0px 24px;
    }
  }

  .list-number {
    display: flex;
    margin-bottom: 50px;

    @include mq(max_xxl) {
      margin-bottom: 24px;
    }

    .number-item {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }

    .otp-input-item {
      border-radius: 66px;
      outline: none;
      border: 2px solid #DAD4CD;
      background: #FFF;
      box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
      display: block;
      min-width: 80px;
      max-width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--gray-900, #1A202C);
      text-align: center;
      font-family: Kanit Bold;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      &:focus {
        outline: none;
      }
    }

    .active {
      border: 2px solid #2971F0;
      caret-color: #2971F0;
    }

  }

  .resend-otp-text {
    color: var(--gray-900, #1A202C);
    font-family: Kanit Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mq(max_xxl) {
      font-size: 16px;
      ;
    }

    .timer {
      color: #2971F0;
    }
  }

  .arrow {
    margin-left: 6px;
  }
}

.signup-step3-content-wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 24px;

    @include mq(max_xxl) {
      margin-top: 16px;
    }

    .left-content {
      width: fit-content;
      padding-top: 0;

      .avatar-block-wrapper {
        min-width: 196px;
        max-width: 196px;
        height: 196px;
        border-radius: 50%;
        border: 1px solid #DAD4CD;
        background: #FFF;
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.10);
        position: relative;

        @include mq(max_xxl) {
          min-width: 132px;
          max-width: 132px;
          height: 132px;
        }

        .main-avatar-layout {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          z-index: 2;

          .avatar-image {
            max-width: 100%;
            object-fit: cover;
            position: relative;
            top: -20%;
          }
        }

        .mask-layout {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          z-index: 3;
          overflow: hidden;

          .circle-mask {
            cursor: pointer;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 20%;
            background-color: rgba(0, 0, 0, 0.5);
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .right-content {
      min-width: 565px;
      max-width: 565px;

      @include mq(max_xxl) {
        min-width: 450px;
        max-width: 450px;
      }

      .input-item-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        &:last-of-type {
          margin-bottom: 0;
        }

        @include mq(max_xxl) {
          margin-bottom: 16px;
        }

        .label {
          color: var(--gray-900, #1A202C);
          font-family: Kanit Medium;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          @include mq(max_xxl) {
            font-size: 16px;
          }
        }

        .input-item {
          color: #1A202C;
          min-width: 425px;
          max-width: 425px;
          font-family: Kanit Regular;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          border-radius: 1000px;
          padding: 13px 24px;
          border: 1px solid #DAD4CD;
          background: #FFF;
          cursor: pointer;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: var(--gray-500, #A0AEC0);
          }

          @include mq(max_xxl) {
            min-width: 333px;
            max-width: 333px;
            font-size: 16px;
          }
        }
      }

    }
  }

  .footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    left: -60px;
    margin-top: 64px;

    @include mq(max_xxl) {
      margin-top: 10px;
    }

    .icon-bitu-signup {
      min-width: 139px;
      max-width: 139px;
      object-fit: cover;
      height: 173.519px;
      flex-shrink: 0;

      @include mq(max_xxl) {
        min-width: 92px;
        height: 114.848px;
        flex-shrink: 0;
      }
    }

    .message-detail-wrapper {
      max-width: 395px;
      width: 395px;
      height: auto;
      margin-left: 24px;
      ;
      border-radius: 12px;
      ;
      position: relative;

      .text-detail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 24px;
        height: 100%;
        border-radius: 12px;
        color: var(--gray-900, #1A202C);
        font-family: Kanit Regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 1px solid #91ACD9;
        position: relative;
        z-index: 9;
        background-color: #DCE6F7;

        @include mq(max_xxl) {
          font-size: 16px;
          padding: 12px 24px;
          border-radius: 10px;
        }
      }
      .arrow {
        display: block;
        width: 22px;
        height: 22px;
        border: 1px solid #91ACD9;
        background-color: #DCE6F7;
        transform: rotate(45deg);
        position: absolute;
        top: calc((100% - 22px) / 2);
        left: -11px;;
        border-right: none;
         border-top: none;
        z-index: 10;
      }

    }
  }
}