@charset "utf-8";
@import "variables";
@import "fonts";
@import "mixins";

.home-page-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f2ece4;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/cloud-background-image.png");
    background-size: contain;
    background-position: top left;
    background-repeat: repeat;
    content: "";
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bottom-background-image.png");
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    content: "";
    z-index: 2;
  }
}

.home-page-roadmap-topic {
  &::after {
    background-image: url("../images/bottom-mask-background-2.png");

    @include mq(max_xxl) {
      background-image: url("../images/bottom-mask-background-3.png");
    }
  }
}

.home-page-content-mask {
  position: relative;
  z-index: 99999;
  min-height: 100vh;
}

.home-page-content-wrapper {
  width: 100%;
  height: auto;

  @media (min-width: 1600px) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.home-header-wrapper {
  width: 100%;
  padding: 24px 40px;
  position: relative;

  @include mq(max_xxl) {
    padding: 16px 24px;
  }
}

.home-header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-header {
    width: 157.885px;
    height: 44px;
    flex-shrink: 0;
    min-width: 143.533px;
    object-fit: cover;

    @include mq(max_xxl) {
      max-width: 143.533px;
      height: 40px;
      flex-shrink: 0;
    }
  }

  .header-btn {
    color: #1a202c;
    font-family: Kanit Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 6px 20px;
    border-radius: 1000px;
    margin-right: 16px;
    border: 1.5px solid var(--gray-600, #718096);
    background: var(--gray-400, #cbd5e0);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15),
      0px 3px 0px 0px #c0cddf inset, 0px -3px 0px 0px #c0cddf inset;

    &:last-child {
      margin-right: 0;
    }

    @include mq(max_xxl) {
      font-size: 16px;
    }
  }

  .active {
    border-radius: 1000px;
    color: #fff;
    border: 1.5px solid #953f00;
    background: var(--ff-6-d-03, #ff6d03);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15),
      0px 3px 0px 0px #ff8b03 inset, 0px -3px 0px 0px #ff8b03 inset;
  }

  .main-menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  .control-step-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 40px;

    @include mq(max_xxl) {
      top: 8px;
      left: 12px;
    }

    .icon-btn-prev {
      min-width: 36px;
      max-width: 36px;
      height: 33px;
      object-fit: contain;

      @include mq(max_xxl) {
        min-width: 28px;
        max-width: 28px;
        height: 25px;
      }
    }

    .level-image {
      min-width: 80px;
      max-width: 80px;
      height: 80px;
      object-fit: cover;
      margin: 0px 16px 0px 24px;

      @include mq(max_xxl) {
        min-width: 60px;
        max-width: 60px;
        height: 60px;
        margin: 0px 8px 0px 12px;
      }
    }

    .level-name {
      padding: 4px 16px;
      border-radius: 1000px;
      border: 1.5px solid #989187;
      background: #fffbf5;
      color: var(--gray-900, #1a202c);
      text-align: center;
      font-family: Kanit;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.36px;
      box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);

      @include mq(max_xxl) {
        font-size: 16px;
        padding: 4px 12px;
      }
    }
  }

  .menu-setting-wrapper {
    display: flex;
    align-items: center;

    .btn-rating-table, .btn-parent {
      color: var(--gray-900, #1a202c);
      font-family: Kanit Medium;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include mq(max_xxl) {
        font-size: 16px;
      }
    }

    .btn-parent {
      margin-right: 12px;
    }

    .list-option {
      display: flex;
      align-items: center;
      margin: 0px 24px;
      .option-item {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        border-radius: 1000px;
        border: 0.5px solid #e2d7c7;
        background: var(--white, #fff);
        box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:last-child {
          margin-right: 0;
        }

        img {
          min-width: 24px;
          max-width: 24px;
          height: 24px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .user-info-wrapper {
      display: flex;
      align-items: center;

      .user-avatar {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 8px;
      }

      .username {
        color: var(--gray-900, #1a202c);
        font-family: Kanit Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.home-page-content-wrapper {
  width: 100%;
}

.home-page-intro-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;

  .common-badge-wrapper {
    .front-background {
      font-size: 30px;

      @include mq(max_xxl) {
        font-size: 24px;
      }
    }
  }

  .content-detail-wrapper {
    .txt-title {
      color: #ff6d03;
      font-family: Kanit Bold;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.48px;
      margin-left: 20px;

      @include mq(max_xxl) {
        // font-size: 20px;
        // margin-left: 16px;
      }
    }
    .list-class {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .class-item {
        min-width: 330px;
        max-width: 330px;
        height: 185px;
        border-radius: 24px;
        border: 1px solid #dad4cd;
        background: #fff;
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
        margin-right: 24px;
        padding: 18px 16px 47px 16px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        .class-title-block {
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          .icon-flag {
            min-width: 24px;
            max-width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 8px;
          }
          .class-title {
            color: var(--gray-900, #1a202c);
            font-family: Kanit Bold;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.36px;
            min-width: max-content;
          }
        }

        .list-teacher {
          display: flex;
          justify-content: flex-end;
          .teacher-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 24px;

            &:last-child {
              margin-right: 0;
            }

            .teacher-image {
              min-width: 56px;
              max-width: 56px;
              height: 56px;
              flex-shrink: 0;
              border-radius: 8px;
              margin-bottom: 2px;
              object-fit: cover;
            }

            .teacher-name {
              color: var(--gray-900, #1a202c);
              text-align: center;
              font-family: Kanit Regular;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }

        .btn-view-teacher {
          min-width: 95px;
          color: #fff;
          font-family: Kanit Medium;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding: 6px 28px !important;
          position: absolute;
          left: calc((100% - 95px) / 2);
          bottom: -20px;
        }
      }
    }

    .list-option {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      .option-item {
        display: flex;
        margin-bottom: 24px;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
        }

        .icon-check {
          min-width: 45px;
          max-width: 45px;
          height: 45px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 12px;
        }

        .txt-detail {
          color: var(--gray-900, #1a202c);
          font-family: Kanit Regular;
          font-size: 18px;
          font-style: normal;
          max-width: 250px;
          font-weight: 400;
          line-height: 24px; /* 133.333% */
        }
      }
    }
  }
}

.check-and-try-learn-block {
  display: flex;
  justify-content: space-between;

  .right-content {
    position: relative;
    top: -20px;
    margin-bottom: -20px;
    max-width: 290px;
    max-width: 290px;
  }
}

.roadmap-home-page-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.roadmap-step-3-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .top-block-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 150px;
    justify-content: center;
  }
}
.page-roadmap-content-wrapper {
  width: 920.452px;
  height: 397.423px;
  flex-shrink: 0;
  margin: auto;
  background-image: url("../images/image-roadmap-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 156px;

  @include mq(max_xxl) {
    width: 856px;
    height: 353px;
    flex-shrink: 0;
    background-image: url("../images/image-roadmap-1.png");
    left: 124px;
  }

  .row-item {
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    position: relative;

    .row-content {
      width: calc(100% - 100px);
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    &:nth-child(2) {
      justify-content: flex-end;
      align-items: center;
      left: 90px;
      .level-item {
        .icon-lock {
          right: -47px;
        }

        .tooltip-block-wrapper {
          left: -220%;
          top: 0;
        }
      }
    }

    &:first-child,
    &:last-child {
      left: -156px;

      @include mq(max_xxl) {
        left: -124px !important;
      }
    }

    &:first-child {
      top: -90px;
      left: -38px;
      margin-bottom: -90px;

      @include mq(max_xxl) {
        top: -60px;
        left: -94px !important;
        margin-bottom: -60px;
      }
      .level-item {
        &:first-child {
          .icon-lock {
            right: -38px;
          }
        }
        &:nth-child(2) {
          .icon-lock {
            right: -47px;
          }
        }
      }
    }

    &:last-child {
      top: 60px;
      left: -156px;
      margin-bottom: -60px;

      .level-item {
        &:first-child {
          top: -60px;
          margin-bottom: -60px;
        }

        &:nth-child(2) {
          .icon-lock {
            right: -47px;
          }
        }
      }
    }
  }

  .level-item {
    min-width: 156px;
    max-width: 156px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include mq(max_xxl) {
      min-width: 124px;
      max-width: 124px;
    }

    &.disabled {
      .image-level {
        filter: grayscale(100%);
      }
    }

    .name-level {
      padding: 4px 16px;
      border-radius: 1000px;
      border: 1.5px solid #989187;
      background: #fffbf5;
      box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
      color: var(--gray-900, #1a202c);
      text-align: center;
      font-family: Kanit Bold;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.36px;
      min-width: max-content;

      @include mq(max_xxl) {
        color: var(--gray-900, #1a202c);
        text-align: center;
        font-family: Kanit Bold;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.32px;
      }
    }

    .image-level-wrapper {
      margin-top: 16px;
      width: 100%;
      height: 156px;
      position: relative;

      @include mq(max_xxl) {
        height: 124px;
      }

      .image-level {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .icon-lock {
        position: absolute;
        right: -20px;
        top: -20px;
        display: flex;
        width: 47.25px;
        height: 46.6px;
        object-fit: cover;

        @include mq(max_xxl) {
          width: 40px;
          height: 40px;
        }
      }
    }

    .list-star {
      display: flex;
      margin-top: 6px;

      .star-item {
        min-width: 22px;
        max-width: 22px;
        height: 22px;

        @include mq(max_xxl) {
          min-width: 20px;
          max-width: 20px;
          height: 20px;
        }

        .star-image {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .tooltip-block-wrapper {
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 99999;
      border-radius: 24px;
      border: 1px solid #dad4cd;
      background: #fff;
      box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
      padding: 20px 6px 12px 20px;
      min-width: 350px;
      max-width: 350px;
      height: auto;
      display: none;
      transition: all ease 0.2s;

      .tooltip-title {
        color: var(--gray-900, #1a202c);
        font-family: Kanit Bold;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 6px;

        @include mq(max_xxl) {
          font-size: 20px;
          margin-bottom: 8px;
        }
      }

      .list-target {
        width: 100%;
        padding-right: 8px;
        max-height: 180px;
        overflow-y: auto;

        /* width */
        &::-webkit-scrollbar {
          width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #ccc;
          border-radius: 5px;
        }

        .target-item {
          display: flex;
          align-items: center;
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }

          .icon-check {
            min-width: 24px;
            max-width: 24px;
            height: 24px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 12px;
          }

          .txt-target {
            max-width: 270px;
            color: var(--gray-900, #1a202c);
            font-family: Kanit Regular;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @include mq(max_xxl) {
              font-size: 14px;
            }
          }
        }
      }
    }

    &:hover {
      .tooltip-block-wrapper {
        display: block;
      }
    }
  }
}

.topic-page-wrapper {
  .topic-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 250px;

    .header-topic-page-block {
      margin-bottom: 44px;
    }

    .warning-message-wrapper {
      width: 100%;
      padding: 12px 0px;
      border-radius: 8px;
      border: 1px solid #094cc0;
      background: var(--2971-f-0, #2971f0);
      box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1224px;
      @include mq(max_xxl) {
        max-width: 1080px;
      }

      .icon-lock {
        min-width: 24px;
        max-width: 24px;
        height: 24px;
        margin-right: 12px;
        object-fit: cover;
      }

      .txt-description {
        color: var(--ffffff, #fff);
        text-align: center;
        font-family: Kanit Regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .block-item {
      width: 100%;
      max-width: 1224px;
      border-radius: 24px;
      border: 1px solid #dad4cd;
      background: #fff;
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
      padding: 24px;
      margin-top: 24px;

      @include mq(max_xxl) {
        max-width: 1080px;
      }
    }

    .header-item-block {
      display: flex;
      margin-bottom: 12px;
      width: fit-content;

      .icon-header {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        object-fit: cover;
        margin-right: 12px;
      }

      .txt-title {
        color: var(--gray-900, #1a202c);
        font-family: Kanit Bold;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .title-wrapper {
        display: flex;
        align-items: center;
      }
      .level-label {
        border-radius: 6px;
        background: #6935be;
        padding: 2px 6px;
        color: #fff;
        font-family: Kanit Bold;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 8px;
        text-transform: uppercase;
      }

      .description {
        color: var(--gray-600, #718096);
        font-family: Kanit Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 4px;
      }
    }
    .justify-start {
      justify-content: flex-start;
    }

    .justify-center {
      justify-content: center;
    }

    .topic-store-wrapper {
      .list-topic {
        display: flex;
        flex-wrap: wrap;

        .topic-item {
          border-radius: 100px;
          padding: 7px 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: 8px;
          margin-bottom: 8px;
          border: 1px solid var(--gray-400, #cbd5e0);

          .hashtag {
            color: var(--gray-900, #1a202c);
            font-family: Kanit Regular;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          .topic-count {
            color: var(--gray-600, #718096);
            text-align: center;
            font-family: Kanit Regular;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }

    .teacher-topic-wrapper {
      .list-teacher {
        display: flex;
        flex-wrap: wrap;

        .teacher-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: 40px;
          .avatar-teacher-wrapper {
            position: relative;
            min-width: 88px;
            max-width: 88px;
            height: 88px;

            .teacher-image {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }

            .icon-add-wrapper {
              position: absolute;
              bottom: 0;
              right: 0;

              .icon-add {
                min-width: 28px;
                max-width: 28px;
                height: 28px;
                object-fit: cover;
                border-radius: 50%;
              }
            }
          }

          .teacher-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 8px;

            .teacher-name {
              color: var(--gray-900, #1a202c);
              text-align: center;
              font-family: Kanit Medium;
              font-size: 17px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin-bottom: 4px;
            }

            .teacher-rating {
              display: flex;
              align-items: center;

              .icon-rating {
                min-width: 20px;
                max-width: 20px;
                height: 20px;
                object-fit: cover;
              }

              .rating {
                color: var(--gray-900, #1a202c);
                text-align: center;
                font-family: Kanit Regular;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0px 4px;
              }
              .count {
                color: var(--gray-900, #718096);
                text-align: center;
                font-family: Kanit Regular;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }
        }
      }
    }

    .main-topic-by-day-wrapper {
      width: 100%;
      margin-top: 72px;
      max-width: 1224px;

      @include mq(max_xxl) {
        max-width: 1080px;
      }

      .topic-by-day-item {
        width: 100%;

        .header-block {
          display: flex;
          align-items: center;
          margin-bottom: 40px;

          @include mq(max_xxl) {
            margin-bottom: 32px;
          }

          .icon-calendar {
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            margin-right: 16px;
          }

          .txt-title {
            color: var(--gray-900, #1a202c);
            font-family: Kanit Bold;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            @include mq(max_xxl) {
              font-size: 24px;
            }
          }
        }

        .list-topic {
          display: flex;
          flex-wrap: wrap;

          .topic-item {
            width: calc((100% - 108px) / 3);
            max-width: 372px;
            margin-right: 54px;
            margin-bottom: 54px;

            @include mq(max_xxl) {
              max-width: 338px;
              min-width: 338px;
              margin-right: 32px;
              margin-bottom: 32px;
            }

            &:nth-child(3n) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

.home-page-roadmap-topic-wrapper {
  width: 100%;

  .home-page-roadmap-topic-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .list-roadmap-of-topic {
      width: 100%;
      display: flex;
      margin-top: 60px;

      @include mq(max_xxl) {
        margin-top: 32px;
      }

      .slick-list {
        min-height: 600px;
        padding-top: 16px;

        @include mq(max_xxl) {
          min-height: 500px;
        }
      }

      .roadmap-of-topic-item {
        min-width: 290px;
        max-width: 290px;
        height: auto;
        min-height: max-content;
        margin-right: 72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        @include mq(max_xxl) {
          min-width: 230px;
          max-width: 230px;
        }

        &:nth-child(2n) {
          top: 60px;
        }

        .topic-wrapper {
          margin-bottom: 32px;

          @include mq(max_md) {
            margin-bottom: 24px;
          }
        }

        .bottom-image-1 {
          min-width: 152.459px;
          max-width: 152.459px;
          height: 60px;
          @include mq(max_xxl) {
            min-width: 97px;
            max-width: 97px;
            height: 38.174px;
            flex-shrink: 0;
          }
        }

        .bottom-image-2 {
          min-width: 184px;
          max-width: 184px;
          height: 136px;
          background-size: cover;

          @include mq(max_xxl) {
            min-width: 118px;
            max-width: 118px;
            height: 88px;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

.room-page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .room-header {
    width: 100%;
    background: #fff;
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;

    @include mq(max_xxl) {
      padding: 8px 32px;
    }
    .left-header {
      display: flex;
      align-items: center;
    }

    .left-header .icon-arrow {
      width: 36px;
      height: 33px;
      flex-shrink: 0;
    }

    .left-header .time {
      margin: 0px 16px;
      border-radius: 1000px;
      border: 1.5px solid #989187;
      background: #fffbf5;
      color: var(--gray-900, #1a202c);
      font-family: Kanit Regular;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      padding: 2px 13px 3px 12px;
      box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
    }

    .left-header .description {
      color: var(--gray-900, #1a202c);
      font-family: Kanit Regular;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .right-header {
      list-style-type: none;
      display: flex;
    }

    .right-header .right-header-item {
      display: flex;
      padding: 4px 14px 4px 4px;
      margin-right: 24px;
      border-radius: 100px;
      border: 1px solid #f8b805;
      background: #fff6dc;
      color: var(--ff-6-d-03, #ff6d03);
      font-family: Kanit Medium;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include mq(max_xxl) {
        font-size: 18px;
      }
    }
    .last-item {
      margin-right: 0 !important;
    }

    .right-header .right-header-item .icon-coin {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 8px;

      @include mq(max_xxl) {
        width: 32px;
        height: 32px;
      }
    }

    .right-header .right-header-item .icon-cup {
      width: 35.123px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 8px;

      @include mq(max_xxl) {
        width: 32px;
        height: 32px;
      }
    }
  }

  .room-body {
    display: flex;
    flex-grow: 1;
    width: 100%;
    .left-content {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #f2ece4;
    }

    .right-sidebar {
      width: fit-content;
      background: #fff;
      border-top: 1px solid #f2ece4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 14px;

      @include mq(max_xxl) {
        padding: 0px 12px;
      }

      .list-menu {
        .menu-item {
          min-width: 56px;
          max-width: 56px;
          height: 56px;
          border: none;
          border-radius: 50%;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            background: rgba(255, 109, 3, 0.1);

            .common-tooltip-box-content {
              display: block;
            }
          }

          .icon-sidebar {
            width: 36px;
            height: 36px;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
